/*------------------------------PRIMER TAB*-----------------------------------------/

/* Color Encabezado Accordion*/

div.panelrecursotipologia>div.panel-heading {
    text-align: center;
    font-size: 18px;
}
/*distancia del badge a las x de eliminar*/
span.spaneliminartipologia{
    margin-left: 3px;
}

.accordcolor {
    color: 	#428bca;
}


/* Color Contenido Accordion*/

.panel-default {
    color: #f00 !impotant;
}


/*Color Fondo Div de Accordion*/

div.row>div.col-lg-6>div.accord {
    background-color: skyblue;
}


/*Color Fondo Div Accordion SegundResponsive*/

div.azulsegundo {
    background-color: skyblue;
}


/*Color Fondo Div de Crear Tipologia y Recurso*/

div.row>div.col-lg-6>div.recur {
    background-color: skyblue;
}


/*badge de los Accordion*/

div.accordcolor>small>span {
    margin-top: -3px;
}


/*glyphicon de los Accordion*/

ul.list-group>li.list-group-item-info>span {
    margin-top: -1px;
}


/*Inputs para crear Tipologías y Recursos*/

.input_recurso {
    margin-top: 20px;
    margin-bottom: 23px;
    width: 400px;
    font-family: 'Verdana', sans-serif;
    font-weight: bold;
    align-content: center;
}

@media(max-width: 1000px) {
    .input_recurso {
        margin-bottom: 10px;
        padding-left: 2px;
        padding-right: 2px;
    }
}


/* azul segundo responsive */

div.recur2 {
    background-color: skyblue;
}

div.accord2 {
    background-color: skyblue;
}

select.selectrecurso{
    font-size: 11px;
    
}



/*-------------------------------------------SEGUNGO TAB------------------------------------*/


/*Encabezado del tab*/

div.panel-heading>div.row>div.col-xs-9.col-md-10 {
    text-align: center;
    font-size: 18px;
    margin-top: 3px;
}

/*padding de la seccion de select y alert*/
div.panelreservaspermanentes{
    padding: 10px;
    
}


/*Boton Guardar*/

div.row>div.col-xs-3.col-md-2>button {}


/* select de usuario, recurso y dias*/

div.panel-body>div.col-md-3>select.selectpermanente {
    margin-top: 35px;
}


/* letras Usuarios, Recursos, Dias*/

div.col-md-6>h3.listas {
    text-align: center;
}


/* distancia de select dias al de horas*/

div.panel-body>div.col-md-3>div.horaspermanente {
    margin-left: 75px;
}


/*--------------------------------------------TERCER TAB-------------------------------------*/





/*centrado de los nombre de las columnas*/

thead.centradocolumnas>tr>th {
    text-align: center;
}


/*--------------------------------------------CUARTO TAB -Centro- -------------------------------------*/

/*fran comenta esto*/

input.input-centro {
    width: 100%;
    font-weight: bold;
    border: none;
    text-align: left;
    background-color: #e6f2ff;
}
/*fran comenta esto*/
p.parrafo-centro{
    text-align: left;
    margin-left: 10px;
    font-weight: bold;
}
/*fran comenta esto*/
@media only screen and (min-width:250px) and (max-width:450px) {
    input.input-centro {
        font-size: 11px;
    }
}

/*boton cancelar de editar nombre */
button.cancelareditarnombre{
    margin-left: 3px;
}

/*Inicio y fin en grita*/
td.horarionegrita{
    font-weight: bold;
}

/*boton cancelar cambiar Horario*/
button.cancelarcambiarhorario{
    margin-left: 3px;
}



/*-------------------------------------------- QUINTO TAB -------------------------------------*/


/* glyhicon de la lista*/

div.row>div.col-lg-6>div.cent>ul.list-group>li>span {
    margin-top: 2px;
}


/*Texto centrado en los li*/

div.row>div.col-lg-6>div.cent>ul.list-group>li {
    text-align: center;
}


/*letras panel-heading de cursos*/

div.panelcurso>div.panel-heading {
    text-align: center;
    font-size: 18px;
}