/* CONFIGURACION DEL PERFIL DE USUARIO configuracion.html */


/* titulo Edicion de Perfil */

.titulo-perfil {
    margin-bottom: 3px;
}

.input-nombre-config {
    font-weight: bold;
    font-family: 'Tahoma', sans-serif;
    margin-bottom: 5px;
    width: 100%;
}

input.input-pass-config,
input.input-pass-config2 {
    font-weight: bold;
    font-family: 'Tahoma', sans-serif;
    margin-bottom: 5px !important;
}


/* hr bajo el titulo Edicion de Perfil */

.linea-configuracion {
    margin-top: 0px;
    color: rgb(53, 113, 150);
    border: 1px solid rgb(53, 113, 150);
}


/* icono del ojo para visualizar pass y centro en el perfil de usuario */
span.icono-ojo-centro {
    color: dodgerblue;
    font-size: 19px;
}

/* boton para visualizar passwords en el perfil y para visualizar cod del centro */
button.btn-ojo1,
button.btn-ojo {
    border: 0;
}

/* INPUTS DE CONFIGURACION DE PERFIL */
input.form-control.input-nombre-centro {
    font-weight: bold;
    font-family: 'Tahoma', sans-serif;
}

@media (max-width: 315px) {
    input.input-nombre-config,
    input.form-control.input-nombre-centro,
    input.input-pass-config {
        font-size: 9px;
        width: 150px;
        margin-bottom: 5px;
    }
    input.input-pass-config2 {
        margin-left: 0;
        font-size: 9px;
        width: 150px;
    }
    /* boton ojo */
    span.icono-ojo-centro {
        font-size: 14px !important;
    }
    button.btn-ojo {
        width: 29px !important;
        /* centramos en relacion a todas las posiciones el icono del ojo*/
        padding: 0;
    }
    /* boton guardar codigo centro */
    button.btn-guardar-centro {
        width: 120px !important;
        font-size: 9px;
        display: list-item;
    }
}

@media (max-width: 413px) {
    /* cod de centro en acordeon del home.html */
    p.codigo-xs-home1 {
        font-size: 9px;
        font-weight: 700;
    }
}

@media only screen and (min-width:316px) and (max-width:413px) {
    input.input-nombre-config,
    input.form-control.input-nombre-centro {
        font-size: 10px;
        width: 170px;
        margin-bottom: 5px;
    }
    input.input-pass-config {
        font-size: 10px;
        width: 160px !important;
    }
    input.input-pass-config2 {
        margin-left: 0px;
        margin-top: 5px;
        font-size: 10px;
        width: 160px !important;
    }
    
    span.icono-ojo-centro {
        font-size: 14px !important;
    }
    /* boton guardar codigo centro */
    .btn-guardar-centro{
        font-size: 9px;
        width: 170px !important;
    }
    button.btn-ojo{
        width: 170px !important;
    }
}

@media only screen and (min-width:414px) and (max-width:769px) {
    input.input-pass-config {
        width: 300px !important;
    }
    input.input-pass-config2 {
        margin-left: 0px;
        margin-top: 5px;
        width: 300px !important;
    }
}

@media only screen and (min-width:512px) and (max-width:769px) {
    /* input donde insertamos el Nuevo Codigo de Centro */
    input.form-control.input-nombre-centro {
        display: table-column-group !important;
        width: 59%;
    }
    /* boton para descodificar nuevo codigo del centro */
    button.btn-ojo {
        border: 0;
        display: table-column-group !important;
        width: 11% !important;
    }
    /* boton guardar codigo centro */
    button.btn-guardar-centro {
        display: table-column-group !important;
        width: 30% !important;
    }
}


/* estilo de tabla de configuracion de perfil */

td.td-pass-config {
    border: 0;
    text-align: left;
    font-size: 13px;
    max-height: 300px !important;
}


/* BOTON EDITAR FOTO, ES UNA CRUZ VERDE*/

a.btn-editar-foto {
    position: relative;
    top: 30px;
    left: 110px;
}


/* imagen principal de configuracion y boton de edicion de foto */

@media only screen and (min-width:992px) and (max-width:999px) {
    a.btn-editar-foto {
        position: relative;
        top: 30px;
        left: 90px;
    }
    /* Imagen boton editar foto -plus-  */
    img.imagen-editar-foto {
        width: 25px;
        height: 25px;
    }
}

@media only screen and (min-width:769px) and (max-width:991px) {
    /* boton con foto */
    a.btn-editar-foto {
        position: relative;
        top: 25px;
        left: 60px;
        width: 120px;
        height: 120px;
    }
    /* Imagen editar foto */
    img.imagen-editar-foto {
        width: 20px;
        height: 20px;
    }
    /* imagen principal*/
    img.imagen-config {
        width: 100px;
        height: 100px;
    }
}


/* para i-Pad , medida exacta */

@media(width: 769px) {
    /* boton con foto */
    a.btn-editar-foto {
        position: relative;
        top: 25px;
        left: 70px;
        width: 100px;
        height: 100px;
    }
    /* Imagen editar foto */
    img.imagen-editar-foto {
        width: 25px;
        height: 25px;
    }
    /* imagen principal*/
    img.imagen-config {
        position: relative;
        left: 0px;
        width: 120px;
        height: 120px;
    }
}

@media only screen and (min-width:300px) and (max-width:768px) {
    /* contenedor boton editar -plus- */
    a.btn-editar-foto {
        position: relative;
        top: 25px;
        left: 80px;
        width: 100px;
        height: 100px;
    }
    /* Imagen editar foto */
    img.imagen-editar-foto {
        width: 20px;
        height: 20px;
    }
    /* imagen principal*/
    img.imagen-config {
        position: relative;
        left: 0px;
        width: 120px;
        height: 120px;
    }
}

/* Imagen editar foto */
img.imagen-editar-foto {
    width: 30px;
    height: 30px;
}

/* label email */
label.nom-mail-config{    
    position: relative;
    top: 1px;
}

