/* PERFIL home.html */

@media only screen and (min-width:679px) and (max-width:992px) {
    img.imagen-home {
        width: 85px !important;
        height: 85px !important;
    }
}

@media(min-width: 993px) {
    img.imagen-home {
        width: 120px !important;
        height: 120px !important;
    }
}


/* 'eliminamos' perfil  para resoluciones < 769px del usuario en home en screen superior a 769px */

@media(min-width: 769px) {
    div.div-xs-acordeon {
        display: none;
    }
}


/* cambia esto diego */

.azulmensaje {
    color: #428bca;
}


/* vale para home y configuracion */

table.tabla-home {
    height: 50%;
    border: 0;
    margin-top: 15px;
}


/* vale para home y configuracion */

tr.tr-home {
    border: 0;
}


/* vale para home y configuracion */

td.td-home {
    border: 0;
    text-align: left;
    width: 30px;
    font-size: 12px;
    padding: 0;
}


/* vale para home y configuracion */

td.td-datos-home {
    border: 0;
    text-align: left;
    padding: 0;
}


/* vale para home y configuracion */

h4.panel-title {
    font-size: 11px;
    font-weight: bold;
    font-family: 'Verdana', sans-serif;
    font-weight: 600;
    color: azure;
}


/* texto principal acordeon */

div.acordeon-home {
    text-align: left;
}


/* codigo del centro en acordeon, afectado por display:none */


/* para screen > 769px */

p.codigo-xs-home {
    font-weight: bold;
    font-size: 13px;
}


/* contenido acordeon para screen < 769px */

p.codigo-xs-home1 {
    font-weight: bold;
    font-size: 12px;
}


/* Datos en tamanio pequeño en home.html */

div.hidden-sm>a.nombre-xs-home,
a.centro-xs-home {
    padding: 1px;
    text-align: left;
    font-weight: 600;
}

a.centro-xs-home {
    font-weight: 600;
}

@media only screen and (min-width:250px) and (max-width:400px) {
    span.nombre-home {
        font-size: 12px;
    }
}


/* NAV sobreescribimos focus y hover sobre enlaces en el nav -- librería bootstrap.css, línea 4006 */

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    color: white;
    background-color: skyblue !important;
}

nav.navbar-color {
    background-color: skyblue;
    font-size: 1.2em;
    padding-top: 1px;
    width: 100%;
}


/* encabezado de dias de las listas */


/* padding necesario para el contenido y panel de los tabs del HOME */

div.panel-home {
    padding: 10px;
}


/* rgb(5, 4, 41)*/

div.col-md-25>h6.sombra,
h6.sombra-lunes,
h6.sombra-miercoles,
h6.sombra-jueves {
    font-family: 'Verdana', sans-serif;
    color: black;
    text-shadow: 1px 1px 1px skyblue;
    font-weight: bold;
    margin-left: 100px;
}


/* color de la lista para recursos asignados en el futuro */

ul.list-group>li.lista-verde {
    background-color: #D6F6CB;
    border-color: #428bca;
    border-style: groove;
    border-width: 3px;
    border-top-style: solid;
    border-bottom-style: inset;
    border-bottom-width: 3px;
    border-top-width: 35px;
    border-radius: 10px 10px 10px;
}


/* color lista presente, que coincide con la hora actual */


/* #00CDCD */

ul.list-group>li.lista-azul {
    background-color: #a8dcf0;
    border-color: #428bca;
    border-style: groove;
    border-width: 3px;
    border-top-style: solid;
    border-bottom-style: inset;
    border-bottom-width: 3px;
    border-top-width: 35px;
    border-radius: 10px 10px 10px;
}


/* color lista pasadas */

ul.list-group>li.lista-roja {
    background-color: #fdc1b5;
    border-color: darkgray;
    border-style: groove;
    border-width: 3px;
    border-top-style: solid;
    border-bottom-style: inset;
    border-bottom-width: 3px;
    border-top-width: 35px;
    border-radius: 10px 10px 10px;
}


/* situamos IMAGEN X en el borde de la lista del home */

a.btn-eliminar-lista>img.img-eliminar-lista {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    top: -32px;
    left: 164px;
    width: 27px;
    height: 27px;
    border: 0;
}


/* reducimos el borde de arriba en resoluciones <= 1199*/

@media(max-width: 1199px) {
    ul.list-group>li.lista-azul,
    ul.list-group>li.lista-verde,
    ul.list-group>li.lista-roja {
        border-top-width: 25px;
    }
    /* boton X en lista verde no permanente*/
    a.btn-eliminar-lista>img.img-eliminar-lista {
        width: 18px !important;
        height: 18px !important;
        top: -21px;
    }
}

p.curso-home {
    font-size: 12px;
    font-family: 'Monospace', sans-serif;
}


/* un puntero con una flecha */

div.div-verde {
    cursor: default;
}


/* hover color verde un poco mas vistoso */

ul.list-group>li.dias.lista-verde:hover {
    /*box-shadow: 2px 0px 5px skyblue;*/
    background-color: #ccff99;
}


/* hover color azul un poco mas vistoso */

ul.list-group>li.dias.lista-azul:hover {
    /*box-shadow: 2px 0px 5px skyblue;*/
    background-color: skyblue;
}


/* hover color rojo un poco mas vistoso */

ul.list-group>li.dias.lista-roja:hover {
    /*box-shadow: 2px 0px 5px skyblue;*/
    background-color: #FCAE9E;
}


/* caret --> glyphicon flecha hacia abajo desplegar dropdown Usuario*/

span.glyphicon-triangle-bottom {
    color: white;
    font-size: 13px;
}


/* posicion del dropdown del navbar */

ul.dropdown-menu {
    width: 290px;
    height: 150px;
    margin-right: 50px;
    margin-top: 8px;
    box-shadow: 0px 1px 5px grey;
}


/* tamaño letra del dropdown del navbar */

a.editar-perfil {
    font-family: 'Tahoma', sans-serif;
    font-size: 15px;
}

a.editar-perfil:hover {
    font-weight: bold;
}


/* Imagenes asociadas a enlaces del dropdown del navbar */

img.imagen-tool-dropdown,
img.imagen-ayuda-dropdown,
img.imagen-off-dropdown {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}


/* imagen usuarios dropdown navbar */

img.imagen-user-dropdown {
    width: 24px;
    height: 24px;
    margin-left: 5px;
}


/* redimensionamos iconos del dropdown */

@media(max-width: 769px) {
    img.imagen-user-dropdown {
        width: 22px;
        height: 22px;
        margin-bottom: 2px;
    }
    img.imagen-tool-dropdown,
    img.imagen-ayuda-dropdown,
    img.imagen-off-dropdown {
        width: 18px;
        height: 18px;
        margin-bottom: 2px;
    }
}


/* Imagen de perfil del navbar */

div.navbar-collapse>ul.navbar-right>li>div.imagen-navbar>a>img.img-profile {
    height: 42px;
    margin-top: 7px;
    margin-bottom: 5px;
}


/* ICONO AYUDA PERFIL */

.span-ayuda {
    font-size: 15px;
    margin-left: 4px;
}


/*ICONO CERRAR SESION PERFIL*/

.imagen-cerrar-sesion {
    margin-left: 3px;
}


/*ICONO HOME login.html?*/

.estilo-home {
    margin-top: 5px;
}


/* glyphicon HOME */

div.navbar-collapse>ul.navbar-right>li>div.icono-home>a>span.glyphicon-home {
    margin-top: 11px;
    margin-bottom: 12px;
    font-size: 25px;
    color: white;
    margin-right: 20px;
}

div.navbar-collapse>ul.navbar-right>li>div.icono-home>a>span.glyphicon-home:hover {
    color: #cce6ff;
}


/* TITULO de la web */

div>p.navbar-text.titulo-web {
    position: absolute;
    top: 5px;
    color: azure;
    font-size: 40px;
    font-family: 'Times New Roman', sans-serif;
    font-weight: bolder;
    cursor: pointer;
}

div>p.navbar-text.titulo-web:hover {
    text-decoration: none;
}


/* Mostramos al desplegar el navegador sólo el menú resultante del dropdown 
-- quitamos imagen user e icono home */

@media(max-width: 767px) {
    div.navbar-brand {
        margin-top: 5px;
    }
    /* elementos que eliminamos en esa resolucion del screen */
    div.navbar-brand>p.navbar-text.titulo-web {
        color: white;
        font-size: 25px;
    }
    /* el elemento no genera ninguna caja. El elemento desaparece por completo de la página y no ocupa sitio, , los elementos adyacentes ocuparan su lugar
    */
    .icono-home,
    .imagen-navbar,
    .span-main-dropdown>a.dropdown-toggle,
    hr.dropdown-separador,
    li.divider {
        display: none !important;
    }
    /* elementos del dropdown */
    ul.dropdown-menu {
        margin-top: 0px;
        margin-left: 10px;
        font-size: 1.1em;
        display: inline;
        position: static;
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 0;
    }
    /* color de fondo de los elementos del dropdown del index*/
    a.editar-perfil:hover {
        background-color: skyblue !important;
    }
}


/* BOTONES RESERVAR y SEMANA 1 y 2 home.html*/

div.div-btn-home {
    width: 100%;
    height: 100px;
    margin-bottom: 40px;
}

button.btn-semana12,
button.btn-semana123{
    font-weight: bold;
    margin-top: 12px;    
}

a.btn-reservar {
    font-weight: bold;
    margin-top: 12px;
    margin-top: 23px;
}

div.div-btn-home1 {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

/* DIAS DE LA SEMANA*/


/* BOTON CAMBIAR PESTAÑA HORARIO EN home.html */

.btn-cambiar {
    float: right;
    padding-right: 10px;
}


/*PERFIL IZQUIERDA */

div>article.foto_izquierda>img {
    height: 50%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 7px;
    margin-bottom: 10px;
}


/* NOMBRE FOTO PERFIL*/

.foto-nombre {
    padding-left: 1px;
    padding-right: 1px;
}


/* DROPDOWN HACIA LA DERECHA*/

span.span-main-dropdown>a.dropdown-toggle.navbar-text {
    margin-right: 50px;
}


/* STRONG DEL a DE ARRIBA*/

span.span-main-dropdown>a.dropdown-toggle.navbar-text>strong {
    font-size: 18px;
    color: white;
}


/* FUENTE BOTONES SEMANA 1 Y SEMANA 2 */

div.tab-pane.active>div.btn-group.pull-right>label {
    font-weight: bold;
}


/* BOTONES SEMANA 1 Y SEMANA 2 */

div.btn-group {
    margin-right: 75px;
    margin-top: 12px;
}


/*boton ENTRAR */


/*
.boton_entrar {
    display: inline-block;
    border-radius: 4px;
    background-color: #FF7F50;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    font-size: 17px;
    padding: 20px;
    width: 120px;
    cursor: pointer;
    margin: 6px;
}

button.boton_entrar>span{
    opacity: 0;
    font-size: 15px;
    margin-left: -5px;
}

button.boton_entrar:hover{              
    border: 1px solid skyblue;
    transition: 1000ms linear;    
    -webkit-transition:  1000ms linear;
    -ms-transition:  1000ms linear;
    margin-left: -10px;
}

button.boton_entrar:hover span{
    opacity: 1;
    right: 0;
    margin-left: 5px;
    
}
*/

kbd {
    background-color: black;
    font-size: 15px;
}

.titulo_web {
    text-shadow: 7px 1px 5px #7fc1d1;
    -webkit-text-shadow: 7px 1px 5px #7fc1d1;
    /* chrome */
    -moz-text-shadow: 7px 1px 5px #7fc1d1;
    /* mozilla */
    -o-text-shadow: 7px 1px 5px #7fc1d1;
    /* opera */
    -ms-text-shadow: 7px 1px 5px #7fc1d1;
    /* microsoft explorer*/
    font-size: 100px;
    color: white;
    margin-top: 20px;
}

.subtitulo_web {
    text-shadow: 5px 1px 5px #7fc1d1;
    -webkit-text-shadow: 5px 1px 5px #7fc1d1;
    /* chrome */
    -moz-text-shadow: 5px 1px 5px #7fc1d1;
    /* mozilla */
    -o-text-shadow: 5px 1px 5px #7fc1d1;
    /* opera */
    -ms-text-shadow: 5px 1px 5px #7fc1d1;
    /* microsoft explorer*/
    font-size: 25px;
    color: white;
}


/* COMBOS RESERVAR  */

#combo_tipo_reserva,
#combo_fecha {
    font-family: 'Arial', verdana, sans-serif;
    width: 250px;
    font-weight: 600;
    margin-bottom: 14px;
    text-align: right;
}

.opcion_combo {
    font-family: 'Arial', verdana, sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: white;
}

.ultima_columna {
    width: 20px;
}

hr.estilo_hr {
    border: 1px;
    border-top: solid rgb(255, 255, 255);
    border-bottom: 1px solid #333;
    height: 0;
}


/*Contenido cada celda centrado*/

td,
th {
    text-align: center;
}


/*tabla horario HOME */

table.tabla-mi-horario>thead,
tbody.tabla-horarios>tr,
td.tabla-horarios {
    color: black;
    border: 1px solid rgb(238, 120, 120);
    max-width: 100px;
}

table.tabla-mi-horario {
    margin-top: 30px;
}


/* tabla reservar*/

table.tabla-reservar {
    border-collapse: separate;
    border-spacing: 1px;
}

table.tabla-reservar>tbody>tr>td {
    border: 1px solid #5bc0de;
}


/* aviso de validacion de los logins */

#error_reg_admin,
#error_reg_user {
    font-family: "Verdana", Georgia, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: rgb(233, 17, 24);
}


/* damos estilos a los placeholders y controlamos la compatibilidad para los
distintos navegadores web*/

input::-webkit-input-placeholder {
    color: rgb(23, 18, 20);
    font-family: "Verdana", Georgia, sans-serif;
    font-weight: bold;
}

input:-moz-placeholder {
    color: rgb(23, 18, 20);
    font-family: "Verdana", Georgia, sans-serif;
    font-weight: bold;
}


/* microsoft explorer*/

input:-ms-input-placeholder {
    color: rgb(23, 18, 20);
    font-family: "Verdana", Georgia, sans-serif;
    font-weight: bold;
}


/* HOME perfil y listas */

ul.list-group>li.list-group-item.lista_hora:hover {
    box-shadow: 10px 10px 5px #888888;
}

div.round1 {
    border: 1px solid grey;
    border-style: inset;
    padding: 20px 19px;
    padding-right: 2px;
    border-radius: 5px;
}

article.foto_izquierda {
    color: #ffffff;
    font-weight: 700;
    font-family: 'Tahoma', arial, sans-serif;
    border: 2px solid white;
    box-shadow: 1px 1px #beb6c3;
    text-align: center;
    background-color: rgb(8, 135, 175);
    margin-bottom: 20px;
    height: auto;
}

.mostrar_centro {
    font-size: 20px;
    color: white;
    font-weight: bold;
    border: 1px solid grey;
}

.titulo_reservas {
    text-shadow: 1px 1px 2px rgb(5, 4, 41);
    color: rgb(1, 5, 19);
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    text-align: center;
}


/* listas home*/

ul.list-group>li.col-md-25 {
    background-color: #531619;
    color: white;
    font-family: 'Tahoma', sans-serif;
    text-align: center;
    font-weight: 700;
    margin-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    align-content: center;
}

ul.list-group>li.list-group-item.lista_reservas {
    background-color: rgb(1, 91, 99);
    color: white;
    font-family: 'Tahoma', sans-serif;
    text-align: center;
    font-weight: bold;
    height: 100px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
    align-content: center;
}

ul.list-group>li.list-group-item.lista_recurso {
    background-color: rgb(1, 91, 99);
    color: white;
    font-family: 'Tahoma', sans-serif;
    font-weight: bold;
    height: 50px;
    width: 290px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
    align-content: center;
}

ul.list-group>li.list-group-item.lista_hora {
    background-color: rgb(1, 91, 99);
    color: white;
    font-family: 'Tahoma', sans-serif;
    font-weight: bold;
    font-size: 15px;
    height: 80px;
    width: 130px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    align-content: center;
}

ul.list-group>li.list-group-item.titulo_lista_hora {
    color: white;
    font-family: 'Tahoma', sans-serif;
    font-weight: bold;
    font-size: 20px;
    height: 80px;
    width: 130px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-top: 13px;
    text-align: center;
    align-content: center;
    background-color: skyblue;
}

ul.list-group>li.list-group-item.lista_administrador {
    background-color: #015b63;
    color: white;
    font-family: 'Tahoma', sans-serif;
    text-align: center;
    font-weight: bold;
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
    align-content: center;
}

ul.list-group>li.list-group-item.lista_permanente {
    background-color: #015b63;
    color: white;
    font-family: 'Tahoma', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
    align-content: center;
    text-align: center;
    /*aniadimos scroll a la listas en auto para que aparezcan si proccede*/
    overflow-y: auto;
    overflow-x: auto;
}

ul.list-group>li.list-group-item.lista_administrador:hover {
    background-color: rgb(250, 233, 227);
    text-decoration: line-through;
    color: black;
    box-shadow: 10px 10px 5px #888888;
}

ul.list-group>li.list-group-item.lista_permanente:hover {
    background-color: rgb(250, 233, 227);
    text-decoration: line-through;
    text-emphasis: black;
    color: black;
    box-shadow: 10px 10px 5px #888888;
}


/*AÑADIR 5 COLUMNAS EXACTAS DENTRO DEL TAB Mis Reservas home.html */


/* xs -768px // sm +768px-992px // md +992px-1200px // lg +1200px*/


/* media Queies para dispositivos a partir de 1200px listas html home*/

@media (min-width: 1200px) {
    div.col-lg-5 {
        width: 18%;
    }
    /* LISTAS DE HOME cambiamos a 5 columnas en tamanio lg */
    li.dias {
        color: black;
        font-family: 'Tahoma', sans-serif;
        text-align: center;
        font-weight: bold;
        height: 190px;
        width: 200px;
        margin-bottom: 7px;
    }
    ul.list-group.d_semana {
        margin: 0 auto;
        width: 100px;
    }
    /* BOTÓN RESERVAR HOME */
    .btn-reservar {
        margin-left: 55px;
        margin-top: 13px;
        font-weight: bold;
    }
    ul.list-group>li.list-group-item.lista_recurso {
        background-color: rgb(1, 91, 99);
        color: white;
        font-family: 'Tahoma', sans-serif;
        font-weight: bold;
        font-size: 12px;
        height: 80px;
        width: 190px;
        margin-top: 5px;
        margin-bottom: 10px;
        margin-right: 0px;
        padding-top: 17px;
        text-align: center;
        align-content: center;
    }
    ul.list-group>li.list-group-item.lista_hora {
        background-color: rgb(1, 91, 99);
        color: white;
        font-family: 'Tahoma', sans-serif;
        font-weight: bold;
        font-size: 15px;
        height: 80px;
        width: 130px;
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: 0px;
        padding: 25px;
        text-align: center;
        align-content: center;
    }
    ul.list-group>li.list-group-item.titulo_lista_hora {
        color: white;
        font-family: 'Tahoma', sans-serif;
        font-weight: bold;
        font-size: 20px;
        height: 80px;
        width: 130px;
        margin-top: 5px;
        margin-bottom: 10px;
        padding-top: 13px;
        text-align: center;
        align-content: center;
        background-color: skyblue;
    }
}

@media only screen and (min-width:200px) and (max-width:425px) {
    /* Dias de la semana, encabezado del HOME*/
    div.col-md-25>h6.sombra,
    h6.sombra-lunes,
    h6.sombra-miercoles,
    h6.sombra-jueves {
        margin-top: 20px;
        margin: 0 auto;
        /* auto es toda la anchura disponible de du padre */
        text-align: center;
        margin-bottom: 10px;
        font-size: 12px;
    }
}

@media only screen and (min-width:426px) and (max-width:1200px) {
    /* Dias de la semana, encabezado del HOME*/
    div.col-md-25>h6.sombra,
    h6.sombra-lunes,
    h6.sombra-miercoles,
    h6.sombra-jueves {
        margin-top: 20px;
        margin: 0 auto;
        /* auto es toda la anchura disponible de du padre */
        text-align: center;
        margin-bottom: 10px;
        font-size: 15px;
    }
}


/* para dispositivos hasta 1200px listas html home*/

@media (max-width: 1200px) {
    .col-md-25 {
        width: 100%;
    }
    li.dias {
        color: black;
        font-family: 'Tahoma', sans-serif;
        text-align: center;
        font-weight: 700;
        height: 150px;
        width: 60%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .btn-reservar {
        margin-left: 5px;
        margin-top: 12px;
        font-weight: bold;
    }
    td.td-cod-centro-home {
        text-align: right;
    }
}


/* posicionamos la IMAGEN X  en las listas */

@media only screen and (min-width:768px) and (max-width:1200px) {
    /* situamos IMAGEN X en el borde de la lista del home */
    a.btn-eliminar-lista>img.img-eliminar-lista {
        left: 94%;
    }
}


/* posicionamos la IMAGEN X  en las listas */

@media only screen and (min-width:500px) and (max-width:767px) {
    a.btn-eliminar-lista>img.img-eliminar-lista {
        left: 90%;
    }
}


/* posicionamos la IMAGEN X  en las listas */

@media only screen and (min-width:200px) and (max-width:499px) {
    a.btn-eliminar-lista>img.img-eliminar-lista {
        left: 88%;
    }
    li.dias {
        height: 160px;
        width: 100%;
    }
}


/* posicionamos la IMAGEN USUARIO en las HOME */

@media (max-width:359px) {
    article.foto_izquierda {
        border-right: 1px solid #ffffff;
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
        color: black;
        font-size: 15px;
        font-weight: 700;
        font-family: 'Tahoma', arial, sans-serif;
        border: 2px solid #ffffff;
        text-align: center;
        width: 100%;
        color: aliceblue;
    }
}

@media only screen and (min-width:351px) and (max-width:520px) {
    article.foto_izquierda {
        background-color: rgb(8, 135, 175);
        color: white;
        font-size: 18px;
        border-right: 1px solid #ffffff;
        border-top: 1px solid #ffffff;
        text-align: center;
        margin-bottom: 20px;
        margin-left: 20%;
        margin-right: 20%;
        width: 60%;
        height: 50%;
    }
}

@media only screen and (min-width:465px) and (max-width:644px) {
    a.pestanias_home {
        width: 150px;
        font-weight: bold;
        font-family: 'Verdana', sans-serif;
        background-color: yellow;
    }
}

@media only screen and (min-width:521px) and (max-width:768px) {
    article.foto_izquierda {
        background-color: rgb(8, 135, 175);
        color: white;
        font-size: 18px;
        border-right: 1px solid #ffffff;
        border-top: 1px solid #ffffff;
        text-align: center;
        margin-bottom: 20px;
        margin-left: 25%;
        margin-right: 25%;
        width: 50%;
        height: 50%;
    }
}


/* ENTRE 350 y 768px ESTA INDETERMINADO POR BOOTSTRAP !!! */

@media only screen and (min-width:343px) and (max-width:768px) {
    .perfil_config {
        max-width: 50%;
        max-height: 25%;
        align-content: center;
        padding-left: 0px;
        padding-bottom: 15px;
    }
    .titulo_web {
        text-shadow: 6px 1px 5px #7fc1d1;
        -webkit-text-shadow: 6px 1px 5px #7fc1d1;
        /* chrome */
        -moz-text-shadow: 6px 1px 5px #7fc1d1;
        /* mozilla */
        -o-text-shadow: 6px 1px 5px #7fc1d1;
        /* opera */
        -ms-text-shadow: 6px 1px 5px #7fc1d1;
        /* microsoft explorer*/
        margin-top: 20px;
        font-size: 75px;
        color: white;
    }
    .subtitulo_web {
        text-shadow: 5px 1px 5px #7fc1d1;
        -webkit-text-shadow: 5px 1px 5px #7fc1d1;
        /* chrome */
        -moz-text-shadow: 5px 1px 5px #7fc1d1;
        /* mozilla */
        -o-text-shadow: 5px 1px 5px #7fc1d1;
        /* opera */
        -ms-text-shadow: 5px 1px 5px #7fc1d1;
        /* microsoft explorer*/
        font-size: 20px;
        color: white;
        margin-top: 10px;
    }
}


/* true si cumple con ambos valores del tamanio de la pantalla */

@media only screen and (min-width:500px) and (max-width:992px) {
    ul.list-group>li.list-group-item.lista_recurso {
        background-color: rgb(1, 91, 99);
        color: white;
        font-family: 'Tahoma', sans-serif;
        font-weight: bold;
        font-size: 15px;
        height: 70px;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: 40px;
        padding-top: 17px;
        text-align: center;
        align-content: center;
    }
    ul.list-group>li.list-group-item.lista_hora {
        background-color: rgb(1, 91, 99);
        color: white;
        font-family: 'Tahoma', sans-serif;
        font-weight: bold;
        font-size: 15px;
        height: 70px;
        width: 200px;
        margin-left: 30px;
        margin-top: 5px;
        margin-bottom: 10px;
        padding: 20px;
        text-align: center;
        align-content: center;
    }
    ul.list-group>li.list-group-item.titulo_lista_hora {
        color: white;
        font-family: 'Tahoma', sans-serif;
        font-weight: bold;
        font-size: 20px;
        height: 70px;
        width: 200px;
        margin-left: 30px;
        margin-top: 5px;
        margin-bottom: 10px;
        padding: 20px;
        text-align: center;
        align-content: center;
        background-color: skyblue;
    }
}


/* para pantallas xs xtrasmall*/

@media(max-width: 768px) {
    table {
        align-content: center;
    }
    ul.list-group>li.list-group-item.lista_recurso {
        background-color: rgb(1, 91, 99);
        color: white;
        font-family: 'Tahoma', sans-serif;
        font-weight: bold;
        font-size: 12px;
        height: 80px;
        width: 155px;
        margin-top: 5px;
        margin-bottom: 10px;
        padding-top: 17px;
        text-align: center;
        align-content: center;
    }
    ul.list-group>li.list-group-item.lista_hora {
        background-color: rgb(1, 91, 99);
        color: white;
        font-family: 'Tahoma', sans-serif;
        font-weight: bold;
        font-size: 15px;
        height: 80px;
        width: 120px;
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: 20px;
        padding: 25px;
        text-align: center;
        align-content: center;
    }
    ul.list-group>li.list-group-item.titulo_lista_hora {
        color: white;
        font-family: 'Tahoma', sans-serif;
        font-weight: bold;
        font-size: 20px;
        height: 80px;
        width: 120px;
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: 20px;
        text-align: center;
        align-content: center;
        background-color: skyblue;
    }
    .input_nombre,
    .input_apellido {
        margin-bottom: 10px;
    }
}


/* SWITCH */

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    /**/
    height: 18px;
    /**/
}


/* Hide default HTML checkbox */

.switch input {
    display: none;
}


/* slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 5px;
    left: 0;
    right: 0;
    bottom: -5px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    top: 2px;
    height: 14px;
    /*-------*/
    width: 14px;
    /*----*/
    left: 2px;
    /*------*/
    bottom: 2px;
    /*------------*/
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    /**/
    -ms-transform: translateX(16px);
    /**/
    transform: translateX(16px);
    /**/
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* FILES CSS */

.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}


/* Example stylistic flourishes */

.fileContainer {
    background: blue;
    border-radius: .5em;
    float: left;
    padding: .5em;
}

.fileContainer [type=file] {
    cursor: pointer;
}


/* BORDE DE LA LISTA */

.border {
    border: 1px solid black;
}


/* FONDO DE LAS SECTIONS */

.colortab {
    background-color: skyblue;
    font-size: 1.2em;
    padding-top: 1px;
}


/* FONDO TABS home.html ul */


/* TAB home estilo */

.estilo-tab {
    font-family: 'Verdana', sans-serif;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 4px;
    font-size: 14px;
    -webkit-box-shadow: 1px 3px 1px 0px skyblue;
    -moz-box-shadow: 1px 3px 1px 0px skyblue;
    -ms-box-shadow: 1px 3px 1px 0px skyblue;
    -o-box-shadow: 1px 3px 1px 0px skyblue;
    box-shadow: 1px 3px 1px 0px skyblue;
}

.estilo-tab:hover {
    background-color: #bee5f4;
}

@media only screen and (min-width:375px) and (max-width:445px) {
    .estilo-tab {
        font-size: 10px;
    }
}

@media only screen and (min-width:200px) and (max-width:374px) {
    .estilo-tab {
        font-size: 8px;
    }
}


/* poner tabs de angular y border-radius a tabs
modificar listas home en tamaño mediano y xs, tabla, no se ven bien los colores */

.margen {
    margin-top: 10px;
}


/* FOOTER */

div.mi-div1 {
    height: 100%;
}

div.mi-div {
    min-height: 100%;
    margin-bottom: 138px;
}

footer {
    text-align: justify;
    font-weight: bold;
    font-size: 12px;
    width: 100%;
    /* el elemento ocupa la dimension real 100% */
    background: skyblue;
    height: 223px;
    /* Altura del footer */
}


/* boton consultar codigo configuracion.html */

td.td-datos-home-config {
    border: 0;
    text-align: center;
    font-size: 13px;
}

p.cod-centro-config {
    font-weight: bold;
    background-color: skyblue;
}


/* boton consultar/ocultar codigo centro */

button.btn-consultar-cod-centro {
    margin-top: 7px;
    margin-bottom: 7px;
}


/* fondo azul */

@media(max-width: 362px) {
    p.cod-centro-config {
        background-color: white;
    }
}

@media only screen and (min-width:200px) and (max-width:328px) {
    p.cod-centro-config {
        font-size: 10px;
    }
}


/* tamaño input asunto del mensaje*/

form>div.form-group>input.pilar {
    width: 300px;
}

@media(max-width: 769px) {
    form>div.form-group>input.pilar {
        width: 170px;
    }
}


/*fondo color del mensaje*/


/*colores*/


/*#34495e*/


/* aside #c0392b */

.fondo-principal {
    background-color: #FFFFF0
}

.fondo-login {
    background-image: url('../imagenes/educacion.jpg')
}





.titulo_web2 {
    
    /* microsoft explorer*/
    font-size: 50px;
    color: white;
}






/*pepe*/
.slide2{
	overflow: hidden;
	
}

.slide2 figure div{
	width: 20%;
	float: left;
}

.slide2 figure img{
	width: 100%;
	float: left;
}

.slide2 figure{
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slidy infinite;
}

@keyframes slidy{
	0%{
		left: 0%
	}

	10%{
		left: 0%;
	}

	12%{
		left: -100%;
	}

	22%{
		left: -100%;
	}

	24%{
		left: -200%;
	}

	34%{
		left: -200%;
	}

	36%{
		left: -300%;
	}

	46%{
		left: -300%;
	}

	48%{
		left: -400%;
	}

	58%{
		left: -400%;
	}

	60%{
		left: -300%;
	}

	70%{
		left: -300%;
	}

	72%{
		left: -200%;
	}

	82%{
		left: -200%;
	}

	84%{
		left: -100%;
	}

	94%{
		left: -100%;
	}

	96%{
		left: 0%;
	}

	100%{
		left: 0%;
	}
}
.externafont{
    font-family: 'Oswald', serif;
}
