/* INDEX - MODALES - */

p.clase-error {
    text-align: center;
    color: red;
    font-size: 17px;
    font-weight: bold;
    margin-top: 10px;
}

p.clase-notificacion {
    text-align: center;
    color: cadetblue;
    font-size: 17px;
    font-weight: bold;
}

div>img.imagen-error {
    position: absolute;
    top: 10px;
    left: 15px;
    width: 31px;
    height: 31px;
}


/* login admin asignar horas */

label.horas {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5px;
    font-family: "Tahoma", Georgia, sans-serif;
    font-size: 20px;
}


/* inputs de mLoginForm */


/* encabezado del login*/

h4.entrar-hw {
    margin-left: 16px;
}


/*#e6f2ff*/

input.form-control.form-login,
input.form-control.form-login-user{
    background-color: #e6f2ff;
    width: 500px;
    font-family: "Verdana", Georgia, sans-serif;
    font-weight: bolder;
    margin-bottom: 7px;
    margin-left: 25px;
}

@media (min-width: 769px) {
    input.form-control.form-login-user {
        margin-left: 17px;
    }
}


/*encabezado-cod-centro formulario usuario standard */

label.entrar-hw {
    font-family: Verdana, arial, sans-serif;
    margin-left: 17px;
}

input.form-control.form-login1 {
    width: 267px !important;
    background-color: #e6f2ff;
    font-family: "Verdana", Georgia, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-left: 15px;
}

@media only screen and (min-width:651px) and (max-width:768px) {
    input.form-control.form-login1 {
        width: 530px !important;
        margin-left: 60px !important;
    }
    h4.entrar-hw {
        margin-left: 60px !important;
    }
}

@media only screen and (min-width:601px) and (max-width:650px) {
    input.form-control.form-login1 {
        width: 520px !important;
        margin-left: 55px !important;
    }
    h4.entrar-hw {
        margin-left: 55px !important;
    }
}

@media only screen and (min-width:500px) and (max-width:600px) {
    input.form-control.form-login1 {
        width: 423px !important;
        margin-left: 25px !important;
    }
    h4.entrar-hw {
        margin-left: 25px !important;
    }
}

@media only screen and (min-width:400px) and (max-width:499px) {
    input.form-control.form-login1 {
        width: 335px !important;
        margin-left: 30px !important;
    }
    /* encabezado del login*/
    h4.entrar-hw {
        margin-left: 30px !important;
    }
}

@media only screen and (min-width:351px) and (max-width:399px) {
    input.form-control.form-login1 {
        width: 270px !important;
        margin-left: 20px !important;
        font-size: 12px;
    }
    h4.entrar-hw {
        margin-left: 20px !important;
    }
}

@media only screen and (min-width:301px) and (max-width:350px) {
    input.form-control.form-login1 {
        width: 250px !important;
        margin-left: 10px;;
        font-size: 12px;
    }
    h4.entrar-hw {
        margin-left: 10px !important;
    }
}

@media only screen and (min-width:200px) and (max-width:300px) {
    input.form-control.form-login1 {
        width: 200px !important;
        margin-left:15px !important;
        font-size: 12px;
    }
    h4.entrar-hw {
        margin-left: 15px !important;
        font-size: 17px;
    }
}

@media only screen and (min-width:769px) and (max-width:800px) {
    div>a.navbar-text.titulo-web {
        font-size: 1.5em;
    }
}

/*@media (min-width:769){
     input.form-control.form-login,
    input.form-control.form-login-user {
        width: 550px;
        margin-left: 10px;
    }
    label.entrar-hw {
        margin-left: 10px;
    }
}*/

@media only screen and (min-width:601px) and (max-width:660px) {
    input.form-control.form-login,
    input.form-control.form-login-user {
        width: 550px;
        margin-left: 10px;
    }
    label.entrar-hw {
        margin-left: 10px;
    }
}

@media only screen and (min-width:661px) and (max-width:768px) {
    input.form-control.form-login,
    input.form-control.form-login-user {
        width: 600px;
        margin-left: 20px;
    }
    label.entrar-hw {
        margin-left: 20px;
    }
}

@media only screen and (min-width:501px) and (max-width:600px) {
    input.form-control.form-login,
    input.form-control.form-login-user {
        width: 424px;
        margin-left: 30px;
    }
    label.entrar-hw {
        margin-left: 30px;
    }
}

@media only screen and (min-width:397px) and (max-width:500px) {
    input.form-control.form-login,
    input.form-control.form-login-user {
        width: 333px;
        margin-left: 19px;
    }
    label.entrar-hw {
        margin-left: 19px;
    }
}

.span-cancelar {
    font-size: 13px;
}

@media only screen and (min-width:301px) and (max-width:396px) {
    input.form-control.form-login,
    input.form-control.form-login-user {
        width: 240px;
        margin-left: 15px;
        font-size: 13px;
    }
    label.entrar-hw {
        margin-left: 15px;
    }
    span.span-cancelar {
        display: none;
    }
}

@media only screen and (min-width:200px) and (max-width:300px) {
    input.form-control.form-login,
    input.form-control.form-login-user {
        width: 170px;
        margin-left: 5px;
        font-size: 12px;
    }
    label.entrar-hw {
        margin-left: 5px;
    }
    span.span-cancelar {
        display: none;
    }
}


/* timepicker login admin */


/* contenedor de los timepickers*/

.div-timepicker {
    margin-left: 10%;
    font-weight: bold;
    font-family: sans-serif;
}

#id_centro {
    font-family: "Tahoma", Georgia, sans-serif;
    font-weight: 600;
}
