<div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div role="tabpanel">
                            <ul class="nav nav-tabs" role="tablist" style="padding-top:40px;">
                                <li role="presentation" style="width:257px">
                                    <a href="#seccion1" class="active pestanias" aria-controls="seccion1" data-toggle="tab" role="tab">RECURSOS
                                    </a>
                                </li>
                                <li role="presentation" style="width:257px">
                                    <a href="#seccion2" aria-controls="seccion2" data-toggle="tab" role="tab" class="pestanias">RESERVAS PERMANENTES
                                    </a>
                                </li>
                                <li role="presentation" style="width:257px">
                                    <a href="#seccion3" aria-controls="seccion3" data-toggle="tab" role="tab" class="pestanias">
                                        USUARIOS
                                    </a>
                                </li>
                            </ul>
                            <!-- TABS -->
                            <!-- EL CONTENIDO DE CADA TAB IRA DENTRO DE UN DIV DE LA CLASE tab-content -->
                            <div class="tab-content">
                                <div class="tab-pane active" role="tabpanel" id="seccion1">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <div class="" style="margin-top:30px;margin-bottom:20px;"></div>
                                                <div class="input-group-addon addon_recurso" style="background-color:skyblue;">
                                                    <input class="form-control input_recurso" id="nombre_recurso" type="text" placeholder="Nuevo recurso:">

                                                    <div class="btn-group">
                                                        <select class="btn btn-lg btn-success" name="combo_fecha" id="combo_tipo" style="margin-top:20px;">
                                                            <!-- como un checkbox y a continuacion las distintas opciones, placeholder da texto previo  -->
                                                            <option class="opcion_combo" value="clase">CLASE</option>
                                                            <option class="opcion_combo" value="objeto">OBJETO</option>
                                                        </select>
                                                        <button type="button" class="btn btn-lg btn-info btn-inline" name="guardar_recurso" id="guardar_recurso" style="margin-top:20px;">
                                                            <span class="glyphicon glyphicon-floppy-save"></span>
                                                            <span class="hidden-xs hidden-sm">
                                                                Guardar</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <ul class="list-group" id="id_recurso" style="margin-top:30px;">
                                                    <!-- list-group-item elimina los puntos por default de la etiqueta ul -->
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane" role="tabpanel" id="seccion2">
                                    <div class="row" style="margin-bottom:20px;">
                                        <div class="col-xs-9 col-md-10">
                                            <h3 class="listas_administrador">Recursos Permanentes</h3>
                                        </div>
                                        <!-- Boton hidden-sm las letras del boton-->
                                        <div class="col-xs-3 col-md-2">
                                            <button type="button" class="btn btn-info btn-lg" id="guardar_reserva" style="margin-top:7px;">
                                                <span class="glyphicon glyphicon-floppy-save"></span>
                                                <span class="hidden-xs hidden-sm">
                                                    Guardar</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row" style="border:1px  groove #beb6c3; background-color:#d8dde2; padding-bottom:10px;">
                                        <div class="col-md-3">
                                            <br>
                                            <h3 class="listas" style="font-weight:bold;">USUARIO</h3>
                                            <select class="form-control pull-right btn-primary" name="combo_fecha" id="combo_usuario">
                                                <!-- como un checkbox y a continuacion las distintas opciones, placeholder da texto previo  -->
                                            </select>
                                        </div>

                                        <div class="col-md-3">
                                            <br>
                                            <h3 class="listas" style="font-weight:bold;">RECURSOS</h3>
                                            <select class="form-control pull-right btn-primary" name="combo_fecha" id="combo_recurso">
                                                <!-- como un checkbox y a continuacion las distintas opciones, placeholder da texto previo  -->
                                               
                                            </select>
                                        </div>

                                        <div class="col-md-3">
                                            <br>
                                            <h3 class="listas" style="font-weight:bold;">DÍAS</h3>
                                            <select class="form-control pull-right btn-primary" name="combo_dia" id="combo_dia">
                                                <!-- como un checkbox y a continuacion las distintas opciones, placeholder da texto previo  -->
                                                <option class="opcion_combo" value="1">Lunes</option>
                                                <option class="opcion_combo" value="2">Martes</option>
                                                <option class="opcion_combo" value="3">Miércoles</option>
                                                <option class="opcion_combo" value="4">Jueves</option>
                                                <option class="opcion_combo" value="5">Viernes</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <br>
                                            <h3 class="listas" style="font-weight:bold;">HORAS</h3>
                                            <select class="form-control pull-right btn-primary" name="combo_horas" id="combo_horas">
                                                <!-- como un checkbox y a continuacion las distintas opciones, placeholder da texto previo  -->                                               
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row" style="border:1px solid #beb6c3; background-color:#d8dde2;">
                                        <div class="col-md-12" style="margin-top:50px;">
                                            <ul class="list-group" id="lista_permanentes">
                                                <!-- list-group-item elimina los puntos por default de la etiqueta ul -->
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane" role="tabpanel" id="seccion3">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h3 class="listas">Usuarios</h3>

                                            <table class="table table-bordered  table-responsive tabla_admin">
                                                <!-- la clase table extiende la tabla y separa cada fila con una línea.
                              								 table-hover cambia el color o resalta cada la línea al pasar el mouse.
                              								 table-condensed comprime el tamanio de la tabla
                              								 table-responsive hace responsive la tabla -->
                                                <tbody id="tabla_usuarios">
                                               
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>