
    <div class="container">
       
            <!--           Empieza el contenido tab-->
            <uib-tabset>
                <!--                Empieza el primer tab-->

                <uib-tab index="0" heading="Recursos" classes="estilo-tab">
                    <br>
                    <div class="row">

                        <div class="col-lg-6">

                            <div class="input-group-addon addon_recurso" style="background-color:skyblue;">
                                <ul class="list-group">

                                    <li class="list-group-item">
                                        <span class="badge pull-right">14</span> Clase
                                        <button class="btn btn-link pull-right" style="margin-top:-10px;margin-right:10px">Recurso</button>
                                    </li>
                                    <uib-accordion close-others="vm.oneAtATime">

                                        <br><br>
                                        

                                        <div uib-accordion-group class="panel-default" is-open="vm.status.open1">
                                            <uib-accordion-heading>
                                                <span class="pinocho">I can have markup, too!</span> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.status.open1, 'glyphicon-chevron-right': !vm.status.open1}"></i>
                                            </uib-accordion-heading>
                                            This is just some content to illustrate fancy headings.
                                        </div>
                                        <br><br>


                                        <div uib-accordion-group class="panel-default" is-open="vm.status.open2">
                                            <uib-accordion-heading>
                                                span can have markup, too!<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.status.open2, 'glyphicon-chevron-right': !vm.status.open2}"></i>
                                            </uib-accordion-heading>
                                            This is just some content to illustrate fancy headings.
                                        </div>
                                        <br><br>


                                        <div uib-accordion-group class="panel-default" is-open="vm.status.open3">
                                            <uib-accordion-heading>
                                                I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.status.open3, 'glyphicon-chevron-right': !vm.status.open3}"></i>
                                            </uib-accordion-heading>
                                            This is just some content to illustrate fancy headings.
                                        </div>
                                       



                                    </uib-accordion>

                                </ul>

                            </div>



                        </div>



                        <div class="col-lg-6">
                           <div class="row">
                            <div class="col-lg-6">

                            <div class="input-group-addon addon_recurso" style="background-color:skyblue;">
                                <h3>Crea tipologia</h3>

                                <input class="form-control input_recurso" id="nombre_recurso" type="text" placeholder="Nuevo recurso:">
                               
                                <button type="button" class="btn btn-lg btn-success" name="guardar_recurso" id="guardar_recurso">
                        <span class="glyphicon glyphicon-floppy-save"></span>
                                                            Guardar</span>
                        </button>

                            </div>
                            </div>
                            <div class="input-group-addon addon_recurso" style="background-color:skyblue;">
                                <h3>Crea Recurso</h3>

                                <input class="form-control input_recurso" id="nombre_recurso" type="text" placeholder="Nuevo recurso:">
                                <select class="btn btn-lg btn-info" name="combo_fecha" id="combo_tipo">
                                <option class="opcion_combo" value="clase">CLASE</option>
                                <option class="opcion_combo" value="objeto">OBJETO</option>
                            </select>
                                <button type="button" class="btn btn-lg btn-success" name="guardar_recurso" id="guardar_recurso">
                        <span class="glyphicon glyphicon-floppy-save"></span>
                                                            Guardar</span>
                        </button>

                            </div>
                            </div>
                            <br><br><br>
                            
                            


                        </div>


                    </div>
                  


                </uib-tab>
                <!--                Termina primer tab-->

                <!--    Empieza el segundo tab-->

                <uib-tab index="1" heading="Reservas Permanentes" classes="estilo-tab">
                    <div class="row" style="margin-bottom:20px;">
                        <div class="col-xs-9 col-md-10">
                            <h3 class="listas_administrador">Recursos Permanentes</h3>
                        </div>
                        <!-- Boton hidden-sm las letras del boton-->
                        <div class="col-xs-3 col-md-2">
                            <button type="button" class="btn btn-info btn-lg" id="guardar_reserva" style="margin-top:7px;">
                                                <span class="glyphicon glyphicon-floppy-save"></span>
                                                <span class="hidden-xs hidden-sm">
                                                    Guardar</span>
                                            </button>
                        </div>
                    </div>
                    <div class="row" style="border:1px  groove #beb6c3; background-color:#d8dde2; padding-bottom:10px;">
                        <div class="col-md-3">
                            <br>
                            <h3 class="listas" style="font-weight:bold;">USUARIO</h3>
                            <select class="form-control pull-right btn-info" name="combo_fecha" id="combo_usuario">
                                                <!-- como un checkbox y a continuacion las distintas opciones, placeholder da texto previo  -->
                                            </select>
                        </div>

                        <div class="col-md-3">
                            <br>
                            <h3 class="listas" style="font-weight:bold;">RECURSOS</h3>
                            <select class="form-control pull-right btn-info" name="combo_fecha" id="combo_recurso">
                                                <!-- como un checkbox y a continuacion las distintas opciones, placeholder da texto previo  -->
                                               
                                            </select>
                        </div>

                        <div class="col-md-3">
                            <br>
                            <h3 class="listas" style="font-weight:bold;">DÍAS</h3>
                            <select class="form-control pull-right btn-info" name="combo_dia" id="combo_dia">
                                                <!-- como un checkbox y a continuacion las distintas opciones, placeholder da texto previo  -->
                                                <option class="opcion_combo" value="1">Lunes</option>
                                                <option class="opcion_combo" value="2">Martes</option>
                                                <option class="opcion_combo" value="3">Miércoles</option>
                                                <option class="opcion_combo" value="4">Jueves</option>
                                                <option class="opcion_combo" value="5">Viernes</option>
                                            </select>
                        </div>
                        <div class="col-md-3">
                            <br>
                            <h3 class="listas" style="font-weight:bold;">HORAS</h3>
                            <div uib-timepicker ng-model="vm.mytime" hour-step="vm.hstep" minute-step="vm.mstep" show-meridian="false"></div>

                        </div>
                    </div>










                </uib-tab>

                <!--    Termina el segunda tab-->

                <!--    Empieza el tercer tab-->

                <uib-tab index="2" heading="Usuarios" classes="estilo-tab">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3 class="listas">Usuarios</h3>

                            <table class="table table-bordered  table-responsive tabla_admin">
                                <!-- la clase table extiende la tabla y separa cada fila con una línea.
                              								 table-hover cambia el color o resalta cada la línea al pasar el mouse.
                              								 table-condensed comprime el tamanio de la tabla
                              								 table-responsive hace responsive la tabla -->
                                <tbody id="tabla_usuarios">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="3" heading="Centros" classes="estilo-tab">

                </uib-tab>
                <uib-tab index="4" heading="Cursos" classes="estilo-tab">

                </uib-tab>
                <!--   Termina el tercer tab-->
            </uib-tabset>
            <!--    Termina contenido tab-->
      

    </div>

