<div class="container">

    <!--           Empieza el contenido tab-->
    <uib-tabset>
        <!--                Empieza el primer tab-->

        <uib-tab index="0" heading="Recursos" classes="estilo-tab">
            <br>

            <div class=" panelrecursotipologia panel panel-info">
                <div class="panel-heading">
                    Agrege un Recurso o un Tipo
                </div>
                <div class="panel-body">



                    <!--PRIMER RESPONSIVE-->
                    <div class="row">

                        <div class="col-lg-6 col-md-5 hidden-sm hidden-xs">
                            <div class="input-group-addon accord addon_recurso">
                                <uib-accordion close-others="vm.oneAtATime">
                                    <br>
                                    <div uib-accordion-group class="panel-default" ng-repeat="tip in vm.tipologias" is-open="vm.open[$index]">
                                        <uib-accordion-heading>
                                            <div class="accordcolor">

                                                <small>                                                
                                               <span class="badge pull-left" ng-bind="vm.filtrar(tip)"></span>
                                               </small>

                                                <!-- mismo glyphicon que recurso, cambialo-->
                                                <span class="glyphicon glyphicon-remove pull-left" ng-click="vm.borrarTipo(vm.tipologias.indexOf(tip))" style="margin-left:3px;"></span>

                                                <!--flecha-->
                                                <span ng-bind="tip"></span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.open[$index], 'glyphicon-chevron-right': !vm.open[$index]}"></i></div>
                                        </uib-accordion-heading>
                                        <ul class="list-group">
                                            <li class="list-group-item list-group-item-info" ng-repeat="recurso in vm.recursos | filter : {tipo : tip} : true">
                                                <span ng-bind="recurso.recurso"></span>
                                                <span class="glyphicon glyphicon-remove pull-right" ng-click="vm.borrarRecurso(recurso.recurso)"></span>
                                            </li>
                                        </ul>
                                    </div>

                                </uib-accordion>
                            </div>


                        </div>

                        <div class="col-lg-6 col-md-5 hidden-sm hidden-xs">
                            <div class="row">

                                <div class="col-lg-6 col-md-8">
                                    <div class="input-group-addon recur addon_recurso">
                                        <h3>Crear tipo</h3>

                                        <input class="form-control input_recurso" ng-model="vm.ntipo" type="text" placeholder="Nuevo tipo:">

                                        <button type="button" class="btn btn-lg btn-success" ng-click="vm.crearTipo()">
                        <span class="glyphicon glyphicon-floppy-save"></span>
                                                            Guardar
                        </button>

                                    </div>

                                </div>
                                <div class="col-lg-6 col-md-4">

                                    <div class="input-group-addon recur addon_recurso">
                                        <h3>Crear Recurso</h3>

                                        <input class="form-control input_recurso" type="text" placeholder="Nuevo recurso:" ng-model="vm.recurso">
                                        <select class="btn btn-lg btn-info" ng-options="item as item for item in vm.tipologias" ng-model="vm.tipo">                                
                            </select>
                                        <button type="button" class="btn btn-lg btn-success" ng-click="vm.crearRecurso()">
                        <span class="glyphicon glyphicon-floppy-save"></span>
                                                            Guardar
                        </button>

                                    </div>
                                </div>
                            </div>


                        </div>

                        <!-- TERMINA PRIMER RESPONSIVE -->


                        <!-- SEGUNDO RESPONSIVE-->
                        <div class="hidden-lg hidden-md visible-sm visible-xs">
                            <div class="row">

                                <div class="col-sm-5">
                                    <div class="recur2 input-group-addon  addon_recurso">
                                        <h3>Crear tipo</h3>

                                        <input class="form-control input_recurso" ng-model="vm.ntipo" type="text" placeholder="Nuevo tipo:">

                                        <button type="button" class="btn btn-lg btn-success" ng-click="vm.crearTipo()">
                        <span class="glyphicon glyphicon-floppy-save"></span>
                                                            Guardar
                        </button>

                                    </div>

                                </div>
                                <div class="col-sm-7">

                                    <div class="recur2 input-group-addon addon_recurso">
                                        <h3>Crear Recurso</h3>

                                        <input class="form-control input_recurso" type="text" placeholder="Nuevo recurso:" ng-model="vm.recurso">
                                        <select class="btn btn-lg btn-info" ng-options="item as item for item in vm.tipologias" ng-model="vm.tipo">                                
                            </select>
                                        <button type="button" class="btn btn-lg btn-success" ng-click="vm.crearRecurso()">
                        <span class="glyphicon glyphicon-floppy-save"></span>
                                                            Guardar
                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="hidden-lg hidden-md visible-sm visible-xs">
                            <div class="accord2 input-group-addon addon_recurso">
                                <uib-accordion close-others="vm.oneAtATime">
                                    <br>
                                    <div uib-accordion-group class="panel-default" ng-repeat="tip in vm.tipologias" is-open="vm.open[$index]">
                                        <uib-accordion-heading>
                                            <div class="accordcolor"><small><span class="badge pull-left" ng-bind="vm.filtrar(tip)"></span></small>
                                                <span ng-bind="tip"></span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.open[$index], 'glyphicon-chevron-right': !vm.open[$index]}"></i></div>
                                        </uib-accordion-heading>
                                        <ul class="list-group">
                                            <li class="list-group-item list-group-item-info" ng-repeat="recurso in vm.recursos | filter : {tipo : tip} : true">
                                                <span ng-bind="recurso.recurso"></span>
                                                <span class="glyphicon glyphicon-remove pull-right" ng-click="vm.borrarRecurso(recurso.recurso)"></span>
                                            </li>
                                        </ul>
                                    </div>

                                </uib-accordion>
                            </div>
                        </div>
                        <br><br><br>




                    </div>
                </div>

            </div>
            <!--  TERMINA SEGUNDO RESPONSIVE-->



        </uib-tab>
        <!--  Termina primer tab-->

        <!--    Empieza el segundo tab-->

        <uib-tab index="1" heading="Reservas Permanentes" classes="estilo-tab">
            <br>

            <div class="panelreserva panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-9 col-md-10">
                            Recursos Permanentes
                        </div>
                        <!-- Boton hidden-sm las letras del boton-->


                        <div class="col-xs-3 col-md-2">
                            <button type="button" class="btn btn-info btn-md" ng-click="vm.hacerReservaPermanente()">
                                                <span class="glyphicon glyphicon-floppy-save"></span>
                                                <span class="hidden-xs hidden-sm">
                                                    Guardar</span>
                    </button>
                        </div>
                    </div>
                </div>

                <div class="panel-body">

                    <div class="row">
                        <!--                    primera columna de 6-->
                        <div class="col-lg-6">
                            <div class="panel panel-info" style="padding:10px;">
                                <div class="row">
                                    <div class="col-md-6">
                                        <br>
                                        <h3 class="listas">USUARIO</h3>
                                        <select class="selectpermanente form-control pull-right btn-info" ng-options="item as item.nombre for item in vm.usuarios" ng-model="vm.usuarioRP">

                                                <!-- como un checkbox y a continuacion las distintas opciones, placeholder da texto previo  -->
                                            </select>
                                    </div>




                                    <div class="col-md-6">
                                        <br>
                                        <h3 class="listas">RECURSOS</h3>
                                        <select class="selectpermanente form-control pull-right btn-info" ng-options="item.recurso as item.recurso for item in vm.recursos" ng-model="vm.recursoRP">

                                                <!-- como un checkbox y a continuacion las distintas opciones, placeholder da texto previo  -->
                                               
                                            </select>
                                    </div>

                                    <div class="col-md-6">
                                        <br>
                                        <h3 class="listas">DÍAS</h3>
                                        <select class="selectpermanente form-control pull-right btn-info" ng-model="vm.dayRP">
                                                <!-- como un checkbox y a continuacion las distintas opciones, placeholder da texto previo  -->
                                                <option class="opcion_combo" value="6">Lunes</option>
                                                <option class="opcion_combo" value="7">Martes</option>
                                                <option class="opcion_combo" value="8">Miércoles</option>
                                                <option class="opcion_combo" value="9">Jueves</option>
                                                <option class="opcion_combo" value="10">Viernes</option>
                                            </select>
                                    </div>
                                    <div class="col-md-6" ng-if="vm.cursos.length > 1">
                                        <br>
                                        <h3 class="listas">CURSOS</h3>
                                        <select class="selectpermanente form-control pull-right btn-info" ng-options="item.value as item.label for item in vm.cursosRP" ng-model="vm.cursoRP">

                                                <!-- como un checkbox y a continuacion las distintas opciones, placeholder da texto previo  -->
                                               
                                            </select>
                                    </div>
                                    <center>
                                        <div class="col-md-12">
                                            <br>
                                            <h3 class="listas pra">HORA</h3>
                                            <div class="horaspermanente" uib-timepicker ng-model="vm.mytimeRP" hour-step="vm.hstep" minute-step="vm.mstep" max="vm.max" min="vm.min" show-meridian="false"></div>

                                        </div>
                                    </center>
                                </div>
                            </div>

                        </div>
                        <!--                    termine primera columna de 6-->

                        <!--                    segunda columna de 6-->
                        <div class="col-lg-6">
                            <div class="panel panel-info" style="padding:10px;">

                                <div class="form-group">
                                    <center>

                                        <input class="form-control" ng-model="vm.bRP" type="text" placeholder="Buscar:">


                                    </center>
                                </div>


                                <center>
                                    <div uib-alert ng-repeat="item in vm.RP | buscarRPFilter : vm.bRP" class="alert-info" close="vm.borrarRP(item)">{{item.nombre+', Recurso: '+item.recurso+', Dia: '+item.dia+', Hora: '+item.hora+ (item.curso!=0 ? ', curso: '+item.curso:'')}}</div>
                                </center>
                                
                                
                                <!-- prueba -->
                                <!--
                                <uib-accordion close-others="vm.oneAtATime">

                                    <div uib-accordion-group class="panel-default" ng-repeat="item in vm.RP" is-open="vm.open[$index]">
                                        <uib-accordion-heading>
                                            <div class="azulmensaje">
                                                <p ng-bind="item.nombre"></p>
                                            </div>

                                        </uib-accordion-heading>
                                        <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label for="recursopermanente" class="col-lg-2 control-label">Recurso:</label>
                                            <div class="col-lg-10">
                                                <input ng-model="item.recurso" type="text" class="form-control" id="recursopermanente">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="horapermanente" class="col-lg-2 control-label">Hora:</label>
                                            <div class="col-lg-10">
                                                <input ng-model="item.hora" type="text" class="form-control" id="horapermanente">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="cursopermanente" class="col-lg-2 control-label">Recurso:</label>
                                            <div class="col-lg-10">
                                                <input ng-model="(item.curso!=0 ? ' curso:'+item.curso:'')" type="text" class="form-control" id="cursopermanente">
                                            </div>
                                        </div>
                                        </form>                                      
                                </div>
                                </uib-accordion>
                             -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </uib-tab>

        <!--    Termina el segunda tab-->

        <!--    Empieza el tercer tab-->

        <uib-tab index="2" heading="Usuarios" classes="estilo-tab">
            <div class="row">
                <div class="col-xs-12">
                    <br>
                    <table class="table table-bordered  table-responsive tabla_admin">
                        <!--
                         la clase table extiende la tabla y separa cada fila con una línea.
                              								 table-hover cambia el color o resalta cada la línea al pasar el mouse.
                              								 table-condensed comprime el tamanio de la tabla
                              								 table-responsive hace responsive la tabla-->
                        <thead class="centradocolumnas">
                            <tr class="bg-primary">
                                <th>Nombre</th>
                                <th>Estandar/Administrador</th>
                                <th>Telefono fijo</th>
                                <th>Telefono movil</th>
                                <th>e-mail</th>
                            </tr>
                        </thead>

                        <tbody class="tablausuariosadmin">

                            <tr ng-repeat="usuario in vm.usuarios" ng-if="vm.getUser().id != usuario.id">
                                <td ng-bind="usuario.nombre"></td>
                                <td>
                                    <label class="switch">
                                        <input type="checkbox" ng-checked="usuario.tipo=='administrador'" ng-click="vm.cambiarTipo(usuario)">
                                        <div class="slider round"></div>
                                    </label>
                                </td>
                                <td ng-bind="usuario.tel_fijo"></td>
                                <td ng-bind="usuario.tel_movil"></td>
                                <td ng-bind="usuario.email"></td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </uib-tab>       
       <!-- Termina el tercer tab -->

        <!--       Empieza el cuarto tab-->
        <uib-tab index="3" heading="Centro" classes="estilo-tab">
            <div class="row" style="margin-top:20px;">
                <div class="col-sm-12 perfil-home">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">INFORMACIÓN DEL CENTRO</h4>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-10">
                                <table class="table table-responsive tabla-home">
                                    <tbody>
                                        <tr class="tr-home">
                                            <td colspan="2" class="td-datos-home">
                                                <form class="">
                                                    <!-- se agruparan en linea -->
                                                    <div class="form-group">
                                                        <input class="form-control input-centro" type="text" placeholder="Cambiar Nombre del Centro" ng-disabled="!vm.datos" ng-model="vm.nCentro">
                                                    </div>
                                                </form>
                                            </td>
                                        </tr>
                                        <tr class="tr-home" ng-if="!vm.datos">
                                            <td colspan="2" class="td-btn-datos">
                                                <button type="button" class="btn btn-info btn-xs btn-datos pull-left" ng-click="vm.datos=!vm.datos">
                                                        <strong>Editar nombre</strong>
                                                </button>
                                            </td>
                                        </tr>
                                        
                                        <tr class="tr-home" ng-if="vm.datos">
                                            <td colspan="1" class="td-btn-datos">
                                                <div class="btn-grupo">
                                                    <button type="button" class="btn btn-primary btn-xs pull-left" ng-click="vm.cambiarNombreCentro()">
                                                        <strong>Guardar</strong>
                                                </button>
                                                <button type="button" class="btn btn-default btn-xs pull-left" style="margin-left:3px;" ng-click="vm.cancelarNombreCentro()">
                                                    <strong>Cancelar</strong>
                                                </button>
                                                </div>
                                            </td>
                                        </tr>
                                        
                                        <tr class="tr-home" ng-if="vm.hora">
                                            <td style="font-weight: bold;">
                                               <p class="parrafo-centro">Inicio</p>
                                                <div class="horaspermanente" uib-timepicker ng-model="vm.inicio" hour-step="vm.hstep" minute-step="vm.mstep" show-meridian="false"></div>
                                                <br>
                                               <p class="parrafo-centro">Fin</p>
                                                <div class="horaspermanente" uib-timepicker ng-model="vm.final" hour-step="vm.hstep" minute-step="vm.mstep" show-meridian="false"></div>
                                            </td>
                                        </tr>
                                        
                                        <tr class="tr-home" ng-if="!vm.hora">
                                            <td colspan="2" class="td-btn-datos">
                                                <button type="button" class="btn btn-info btn-xs btn-datos pull-left" ng-click="vm.hora=!vm.hora">
                                                        <strong>Cambiar Horario</strong>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr class="tr-home" ng-if="vm.hora">
                                            <td colspan="1" class="td-btn-datos">
                                                <div class="btn-grupo">
                                                    <button type="button" class="btn btn-primary btn-xs btn-datos pull-left" ng-click="vm.cambiarHora()">
                                                        <strong>Guardar</strong>
                                                </button>
                                                    <button type="button" class="btn btn-default btn-xs btn-datos pull-left" style="margin-left:3px;" ng-click="vm.cancelarCambiarHora()">
                                                        <strong>Cancelar</strong>
                                                </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- FIN PANEL-->
                </div>
            </div>

        </uib-tab>
        <!-- Termina el cuarto tab -->

        <!-- Empieza el quinto tab -->
        <uib-tab index="4" heading="Cursos" classes="estilo-tab">
            <br>
            <div class="panelcurso panel panel-info">
                <div class="panel-heading">
                    Agrege un Recurso
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-sm-offset-3">
                            <div class="">
                                <form class="form-horizontal">

                                    <div class="form-group">
                                        <div class="col-lg-6 col-md-6 col-sm-5 col-xs-5">
                                            <input class="form-control" id="txtAñadirCurso" ng-model="vm.nCurso" type="text" placeholder="Curso:">
                                        </div>
                                        <button class="btn btn-success col-lg-2 col-md-2 col-sm-2 col-xs-2" ng-click="vm.addCurso()">
                                        <span class="glyphicon glyphicon-floppy-save"></span>
                                                <span class="hidden-xs hidden-sm hidden-md">
                                                    Guardar</span>
                                        </button>

                                        <div class="col-lg-4 col-md-4 col-sm-5 col-xs-5">
                                            <input class="form-control" ng-model="vm.bCurso" type="text" placeholder="Buscar:">
                                        </div>
                                    </div>
                                </form>

                            </div>

                        </div>
                    </div>

                    <div class="row">

                        <div class="col-sm-6 col-sm-offset-3">
                            <!--                           <div class="input-group-addon  addon_recurso">-->
                            <div class="cent">
                                <ul class="list-group">
                                    <li class="list-group-item list-group-item-info" ng-repeat="curso in vm.cursos | filter : vm.bCurso">
                                        <span ng-bind="curso"></span>
                                        <span class="glyphicon glyphicon-remove pull-right" ng-click="vm.borrarCurso(vm.cursos.indexOf(curso), curso)"></span></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
        <!--        termina el quinto tab-->

    </uib-tabset>
    <!--    Termina contenido tab-->


</div>
