<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="titulo-perfil">
                <span class="glyphicon glyphicon-user text-primary"></span>
                <span class="text-primary text-lg-left">Edición de Perfil</span>
                <hr class="linea-configuracion">
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12  perfil-home">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">USUARIO</h4>
                </div>
                <div class="panel-body">
                    <div class="col-xs-12 col-sm-2 div-foto-config">
                        <!-- Imagen Editar Foto -->
                        
                        <!--<input type="file" class="btn btn-primary" accept="image/*" id="cambiar_foto" ng-change=""/>-->
                        <div class="efecto1">
                            <label>
                            <img class="img-responsive image imagen-config" alt="Usuario Pic" ng-src="{{vm.photo()}}" />
                            
                            <div class="image2">                               
                                
                                <label class="glyphicon glyphicon-camera icon-camara">
                                       <input type="file" filedirective file="vm.cambiarFoto" style="display: none;">                            
                                </label>
                                 
                            </div>
                            </label>
                        </div>
                        
                    </div>
                    <div class="col-xs-12 col-sm-10">
                        <table class="table table-responsive">
                            <tbody>
                                <tr class="tr-home">

                                    <td colspan="2" class="td-datos-home">
                                        <form class="form-inline">
                                            <!-- se agruparan en linea -->
                                            <div class="form-group">
                                                <input class="form-control input-nombre-config" type="text" placeholder="Cambiar Nombre" ng-disabled="!vm.datos" ng-model="vm.nombre">

                                                <input class="form-control input-nombre-config" type="text" placeholder="Cambiar Apellidos" ng-disabled="!vm.datos" ng-model="vm.apellido">

                                            </div>
                                        </form>

                                    </td>
                                </tr>

                                <tr class="tr-home">

                                    <td colspan="2" class="td-datos-home">
                                        <form class="form-inline">
                                            <!-- se agruparan en linea -->
                                            <div class="form-group">

                                                <input class="form-control input-nombre-config" type="text" placeholder="Móvil(Opcional)" ng-disabled="!vm.datos" ng-model="vm.movil">


                                                <input class="form-control input-nombre-config" type="text" placeholder="Fijo(Opcional)" ng-disabled="!vm.datos" ng-model="vm.fijo">

                                            </div>
                                        </form>

                                    </td>
                                </tr>

                                <tr class="tr-home" ng-if="!vm.datos">
                                    <td colspan="2" class="td-btn-datos">
                                        <button type="button" class="btn btn-success btn-sm btn-datos pull-left" ng-click="vm.datos=!vm.datos">
									            <strong>Editar</strong>
								        </button>
                                    </td>

                                </tr>
                                <tr class="tr-home" ng-if="vm.datos">
                                    <td colspan="1" class="td-btn-datos">
                                        <div class="btn-group pull-left">
                                            <button type="button" class="btn btn-info btn-sm btn-datos" ng-click="vm.updateUser()">
									            <strong>Guardar</strong>
								        </button>
                                            <button type="button" class="btn btn-danger btn-sm btn-datos" ng-click="vm.cancelarUser()">
									            <strong>Cancelar</strong>
								        </button>
                                        </div>
                                    </td>
                                </tr>

                                <!-- modificar passwords del perfil de usuario -->
                                <tr class="tr-home" ng-if="vm.bContrasena">
                                    <td colspan="2" class="td-pass-config">
                                        <form class="form-inline">
                                            <div class="form-group">
                                                <div class="input-group-btn">
                                                    <div class="input-group">
                                                        <!-- cambia tipo del input de text a password-->
                                                        <input class="form-control input-pass-config" type="{{vm.eye ? 'text':'password'}}" placeholder="Antigua Contraseña" ng-model="vm.oldPass">
                                                    </div>
                                                    <div class="input-group">
                                                        <!-- cambia tipo del input de text a password-->
                                                        <input class="form-control input-pass-config" type="{{vm.eye ? 'text':'password'}}" placeholder="Nueva Contraseña" ng-model="vm.nPass1">
                                                    </div>
                                                    <div class="input-group">
                                                        <input class="form-control input-pass-config2" type="{{vm.eye ? 'text':'password'}}" placeholder="Confirmar Contraseña" ng-model="vm.nPass2">
                                                        <div class="input-group">
                                                            <button type="button" class="form-control btn-ojo1" ng-click="vm.visualizar()">
                                                            <span ng-class="{'glyphicon glyphicon-eye-close icono-ojo-centro': vm.eye, 'glyphicon glyphicon-eye-open icono-ojo-centro': !vm.eye}">     </span>                                                            
                                                        </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                </tr>

                                <tr class="tr-home" ng-if="!vm.bContrasena">
                                    <td colspan="2" class="td-btn-datos">
                                        <button type="button" class="btn btn-success btn-sm btn-datos pull-left" ng-click="vm.bContrasena=!vm.bContrasena">
									            <strong>Cambiar Contraseña</strong>
								        </button>
                                    </td>
                                </tr>
                                <tr class="tr-home" ng-if="vm.bContrasena">
                                    <td colspan="1" class="td-btn-datos">
                                        <button type="button" class="btn btn-info btn-sm btn-datos pull-left" ng-click="vm.cambiarPass()">
									            <strong>Guardar</strong>
								        </button>
                                    </td>
                                    <td colspan="1" class="td-btn-datos">
                                        <button type="button" class="btn btn-danger btn-sm btn-datos" ng-click="vm.cancelarPass()">
									            <strong>Cancelar</strong>
								        </button>
                                    </td>
                                </tr>


                                <!-- CAMBIAR CENTRO SI EL USER ES ADMIN -->
                                <tr class="tr-home">

                                    <td colspan="2" class="td-datos-home">
                                        <!-- se agruparan en linea -->
                                        <form action="" class="form-inline">
                                            <div class="input-group">
                                                <div class="input-group-btn">
                                                    <input class="form-control input-nombre-centro" type="text" placeholder="Código nuevo Centro">
                                                    <button type="button" class="form-control btn btn-info btn-xs btn-guardar-centro">
									                    <strong>Guardar Código</strong>
								                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                </tr>

                                <tr class="tr-home">
                                    <td colspan="2" class="td-home">
                                        <label class="nom-mail-config">email:</label>
                                        <span><button type="button" class="btn btn-link" disabled ng-bind="vm.email"></button></span>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <!-- FIN PANEL-->
        </div>
    </div>


</div>
