<div class="container">
    <!-- perfil screen < 769px -->
    <!-- <div class="row well well-sm div-xs-acordeon">
        <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
            <a href="#" class="nombre-xs-home" ng-bind="vm.getUser.nombre+' '+vm.getUser.apellido"></a>
            <hr>
            <a href="#" class="centro-xs-home" ng-bind="vm.centro"></a>
            <hr>
            <uib-accordion close-others="vm.oneAtATime" ng-if="vm.getUser.tipo == 'administrador'">
                <div uib-accordion-group class="panel-default" is-open="vm.open">
                    <uib-accordion-heading>
                        <div class="text-primary">
                              <span class="texto">Consultar/Ocultar código del Centro</span>                        
                                                          
                            <i class="glyphicon" ng-class="{'glyphicon-chevron-down': vm.open, 'glyphicon-chevron-right': !vm.open}">
                            </i>

                        </div>
                    </uib-accordion-heading>
                    <p class="text-center codigo-xs-home1" ng-bind="vm.getUser.codcentro"></p>
                </div>
            </uib-accordion>
        </div>
    </div>-->

    <div class="row">
        <div class="col-sm-12 perfil-home">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">INFORMACIÓN PERSONAL</h4>
                </div>
                <div class="panel-body">
                    <div class="col-sm-2">
                        <img class="img-circle img-responsive imagen-home hidden-xs" alt="No image" ng-src="{{vm.photo}}" />
                    </div>
                    <div class="col-sm-10">
                        <table class="table table-responsive tabla-home">
                            <tbody>
                                <tr class="tr-home">
                                    <td class="td-home hidden-xs">
                                        <label class="nomenclatura">Nombre:</label>
                                    </td>
                                    <td class="td-datos-home">
                                        <span class="nombre-home" ng-bind="vm.getUser.nombre+' ' | mayus"></span>
                                        <span class="nombre-home" ng-bind="vm.getUser.apellido | mayus"></span>
                                    </td>
                                </tr>
                                <tr class="tr-home">
                                    <td class="td-home hidden-xs">
                                        <label class="nomenclatura">Centro:</label>
                                    </td>
                                    <td class="td-datos-home">
                                        <span class="nombre-home" style="color:black;" ng-bind="vm.centro | mayus"></span>
                                    </td>
                                </tr>

                                <tr class="tr-home">
                                    <td colspan="3" class="td-config">
                                        <uib-accordion close-others="vm.oneAtATime" ng-if="vm.getUser.tipo == 'administrador'">
                                            <div uib-accordion-group class="panel-default" is-open="vm.status.open1">
                                                <uib-accordion-heading class="acordeon-home">
                                                    <div class="text-primary">Consultar/Ocultar código del Centro<i class="glyphicon" ng-class="{'glyphicon-chevron-down': vm.status.open1, 'glyphicon-chevron-right': !vm.status.open1}"></i>
                                                    </div>
                                                </uib-accordion-heading>

                                                <p class="text-center codigo-xs-home" ng-bind="vm.getUser.codcentro"></p>
                                            </div>
                                        </uib-accordion>
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <!-- FIN PANEL-->
        </div>
    </div>
    <br>
    <div class="row">
        <div class="container-fluid">
            <div class="tab-content">
                <!-- TAB indice y titulo de la pestaña en iu-bootstrap, no hace falta controller-->
                <uib-tabset>

                    <uib-tab index="0" heading="Mis Reservas" classes="estilo-tab">
                        <div class="btn-group pull-right">
                            <!-- 2 BOTONES UI-BOOTSTRAP, ng-model hace referencia al homeControle>vm.radioModel, que por defecto coje Left, y como a los botones le ponemos la propiedad uib-btn-radio="posicion", el que este Left queda marcado cuando recarges la pagina -->
                            <label class="btn btn-info btn-sm btn-semana12" ng-model="vm.semana" uib-btn-radio="0" ng-click="vm.refrecarCalendario()">Semana 1</label>
                            <label class="btn btn-warning btn-sm btn-semana12" ng-model="vm.semana" uib-btn-radio="1" ng-click="vm.refrecarCalendario()">Semana 2</label>

                        </div>
                        <a ui-sref="reservar" name="button" id="ir_reserva" class="btn btn-info btn-reservar btn-sm">RESERVAR</a>
                        <br><br>

                        <div class="">
                            <!--lunes-->
                            <div class="col-md-25 col-lg-5">
                                <h6 class="sombra-lunes" ng-bind="vm.dias[0] | date:'EEEE, dd/MMM' | mayus">LUNES</h6>
                                <ul class="list-group d_semana" id="lunes">
                                    <li ng-repeat="lunes in vm.lunes | orderBy: 'hora'" ng-class="lunes.activo ? 'list-group-item dias lista-verde' : lunes.actual ? 'list-group-item dias lista-azul' : 'list-group-item dias lista-roja'" ng-click="vm.borrarReserva(lunes, vm.lunes, $index)">
                                        <div>
                                            <p ng-bind="lunes.recurso"></p>
                                            <p ng-bind="lunes.fecha+'-'+lunes.hora"></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <!--martes-->
                            <div class="col-md-25 col-lg-5">
                                <h6 class="sombra" ng-bind="vm.dias[1] | date:'EEEE, dd/MMM' | mayus">MARTES</h6>
                                <ul class="list-group d_semana" id="martes">
                                    <li ng-repeat="martes in vm.martes | orderBy: 'hora'" ng-class="martes.activo ? 'list-group-item dias lista-verde' : martes.actual ? 'list-group-item dias lista-azul' : 'list-group-item dias lista-roja'" ng-click="vm.borrarReserva(martes, vm.martes, $index)">
                                        <div>
                                            <p ng-bind="martes.recurso"></p>
                                            <p ng-bind="martes.fecha+'-'+martes.hora"></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <!--miercoles-->
                            <div class="col-md-25 col-lg-5">
                                <h6 class="sombra-miercoles" ng-bind="vm.dias[2] | date:'EEEE, dd/MMM' | mayus">MIÉRCOLES</h6>
                                <ul id="miercoles" class="list-group d_semana">
                                    <li ng-repeat="miercoles in vm.miercoles | orderBy: 'hora'" ng-class="miercoles.activo ? 'list-group-item dias lista-verde' : miercoles.actual ? 'list-group-item dias lista-azul' : 'list-group-item dias lista-roja'" ng-click="vm.borrarReserva(miercoles, vm.miercoles, $index)">
                                        <div>
                                            <p ng-bind="miercoles.recurso"></p>
                                            <p ng-bind="miercoles.fecha+'-'+miercoles.hora"></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>


                            <!--jueves-->
                            <div class="col-md-25 col-lg-5">
                                <h6 class="sombra-jueves" ng-bind="vm.dias[3] | date:'EEEE, dd/MMM' | mayus">JUEVES</h6>
                                <ul id="jueves" class="list-group d_semana">
                                    <li ng-repeat="jueves in vm.jueves | orderBy: 'hora'" ng-class="jueves.activo ? 'list-group-item dias lista-verde' : jueves.actual ? 'list-group-item dias lista-azul' : 'list-group-item dias lista-roja'" ng-click="vm.borrarReserva(jueves, vm.jueves, $index)">
                                        <div>
                                            <p ng-bind="jueves.recurso"></p>
                                            <p ng-bind="jueves.fecha+'-'+jueves.hora"></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <!-- viernes-->
                            <div class="col-md-25 col-lg-5">
                                <h6 class="sombra" ng-bind="vm.dias[4] | date:'EEEE, dd/MMM' | mayus">VIERNES</h6>
                                <ul id="viernes" class="list-group d_semana">
                                    <li ng-repeat="viernes in vm.viernes | orderBy: 'hora'" ng-class="viernes.activo ? 'list-group-item dias  lista-verde' : viernes.actual ? 'list-group-item dias lista-azul' : 'list-group-item dias lista-roja'" ng-click="vm.borrarReserva(viernes, vm.viernes, $index)">
                                        <div>
                                            <p ng-bind="viernes.recurso"></p>
                                            <p ng-bind="viernes.fecha+'-'+viernes.hora"></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- TAB 2 -->
                    </uib-tab>
                    <!--<div class="tab-pane" role="tabpanel" id="seccion2">-->
                    <uib-tab index="1" heading="Mi Horario" classes="estilo-tab">
                        <div class="col-xs-12">
                            <table class="table table-bordered table-responsive tabla-mi-horario">
                                <thead>
                                    <tr class="bg-info">
                                        <th>Horas</th>
                                        <th>Lunes</th>
                                        <th>Martes</th>
                                        <th>Miercoles</th>
                                        <th>Jueves</th>
                                        <th>Viernes</th>
                                    </tr>
                                </thead>
                                <tbody class="tabla-horarios" id="tabla_horarios">

                                </tbody>
                            </table>
                        </div>
                        <div class="btn-cambiar">
                            <button type="button" class="btn btn-lg btn-info" id="cambiar_horario">Cambiar</button>
                            <button type="button" class="btn btn-lg btn-info" id="guardar_horario" style="display:none">Guardar</button>
                        </div>

                    </uib-tab>

                    <!-- TAB 3 -->
                    <uib-tab index="2" heading="Mensajes" classes="estilo-tab">
                        <!--<div class="tab-pane" role="tabpanel" id="seccion3">-->
                        <h3>Listas??</h3>
                        <ol>
                            <li>lista</li>
                            <li>lista</li>
                            <li>lista</li>
                            <li>lista</li>
                        </ol>

                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>


</div>
