<div class="container">
    <!-- perfil screen < 769px -->
    <!-- <div class="row well well-sm div-xs-acordeon">
        <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
            <a href="#" class="nombre-xs-home" ng-bind="vm.getUser.nombre+' '+vm.getUser.apellido"></a>
            <hr>
            <a href="#" class="centro-xs-home" ng-bind="vm.centro"></a>
            <hr>
            <uib-accordion close-others="vm.oneAtATime" ng-if="vm.getUser.tipo == 'administrador'">
                <div uib-accordion-group class="panel-default" is-open="vm.open">
                    <uib-accordion-heading>
                        <div class="text-primary">
                              <span class="texto">Consultar/Ocultar código del Centro</span>                        
                                                          
                            <i class="glyphicon" ng-class="{'glyphicon-chevron-down': vm.open, 'glyphicon-chevron-right': !vm.open}">
                            </i>

                        </div>
                    </uib-accordion-heading>
                    <p class="text-center codigo-xs-home1" ng-bind="vm.getUser.codcentro"></p>
                </div>
            </uib-accordion>
        </div>
    </div>-->

    <div class="row">
        <div class="col-sm-12 perfil-home">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">INFORMACIÓN PERSONAL</h4>
                </div>
                <div class="panel-body">
                    <div class="col-sm-2">
                        <img class="img-responsive img-circle imagen-home hidden-xs" alt="No image" ng-src="{{vm.photo()}}" />
                    </div>
                    <div class="col-sm-10">
                        <table class="table table-responsive tabla-home">
                            <tbody>
                                <tr class="tr-home">
                                    <td class="td-home hidden-xs">
                                        <label class="nomenclatura">Nombre:</label>
                                    </td>
                                    <td class="td-datos-home">
                                        <span class="nombre-home" ng-bind="vm.getUser().nombre+' ' | mayus"></span>
                                        <span class="nombre-home" ng-bind="vm.getUser().apellido | mayus"></span>
                                    </td>
                                </tr>
                                <tr class="tr-home">
                                    <td class="td-home hidden-xs">
                                        <label class="nomenclatura">Centro:</label>
                                    </td>
                                    <td class="td-datos-home">
                                        <span class="nombre-home" style="color:black;" ng-bind="vm.centro | mayus"></span>
                                    </td>
                                </tr>

                                <tr class="tr-home">
                                    <td colspan="3" class="td-config">
                                        <uib-accordion close-others="vm.oneAtATime" ng-if="vm.getUser().tipo == 'administrador'">
                                            <div uib-accordion-group class="panel-default" is-open="vm.status.open1">
                                                <uib-accordion-heading class="acordeon-home">
                                                    <div class="text-primary">Consultar/Ocultar código del Centro<i class="glyphicon" ng-class="{'glyphicon-chevron-down': vm.status.open1, 'glyphicon-chevron-right': !vm.status.open1}"></i>
                                                    </div>
                                                </uib-accordion-heading>

                                                <p class="text-center codigo-xs-home" ng-bind="vm.getUser().codcentro"></p>
                                            </div>
                                        </uib-accordion>
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <!-- FIN PANEL-->
        </div>
    </div>
    <br>
    <div class="row">
       <!-- encerramos el contenido de las pestanias en un panel-default de bootstrap -->
        <div class="panel panel-default container-fluid panel-home">
            
            <div class="tab-content">
                <!-- TAB indice y titulo de la pestaña en iu-bootstrap, no hace falta controller-->
                <uib-tabset>
                    
                    <uib-tab index="0" heading="Mis Reservas" classes="estilo-tab">
                        
                        <div class="div-btn-home hidden-xs">
                           <div class="btn-group pull-right">                            
                            <button class="btn btn-warning btn-sm btn-semana12" ng-model="vm.semana" uib-btn-radio="1" ng-click="vm.refrecarCalendario()">Semana 2</button>
                            <button class="btn btn-info btn-sm btn-semana123" ng-model="vm.semana" uib-btn-radio="0" ng-click="vm.refrecarCalendario()">Semana 1</button>                            
                            
                            </div>                                                   

                        <a ui-sref="normal.reservar" name="button" class="btn btn-info btn-reservar btn-sm  pull-left">RESERVAR</a>
                        
                        </div>
                        <!-- Botones en  tamanio XS -->
                        <div class="div-btn-home1 visible-xs">
                           <div class="btn-group center-block">
                           <button class="btn btn-xs btn-default btn-semana1-xs" ng-model="vm.semana" uib-btn-radio="0" ng-click="vm.refrecarCalendario()">Semana 1</button>                             
                            <button class="btn btn-default btn-xs btn-semana2-xs" ng-model="vm.semana" uib-btn-radio="1" ng-click="vm.refrecarCalendario()">Semana 2</button>
                                                       
                            
                            </div>                                                   
                        <br><br>
                        <a ui-sref="normal.reservar" name="button" class="btn btn-info btn-xs  btn-reservar-xs center">
                        <strong>RESERVAR</strong>
                        </a>
                        
                        </div>
                        
                        <div class="">
                            <!--lunes-->
                            <div class="col-md-25 col-lg-5">
                                <h6 class="sombra-lunes"><span ng-bind="vm.dias[0] | date:'EEEE' | mayus"></span>
                                    <p class="hidden-md hidden-xs hidden-sm"></p><span ng-bind="vm.dias[0] | date:'dd/MMM'"></span></h6>
                                <ul class="list-group d_semana" id="lunes">
                                    <li ng-repeat="lunes in vm.lunes | orderBy: 'hora'" ng-class="lunes.activo ? 'list-group-item dias lista-verde' : lunes.actual ? 'list-group-item dias lista-azul' : 'list-group-item dias lista-roja'">
                                        <a type="button" class="btn-eliminar-lista" ng-if="lunes.activo && lunes.perm == null">
                                            <img src="imagenes/close1-icon.svg" class="img-eliminar-lista" alt="no foto"  ng-click="vm.borrarReserva(lunes, vm.lunes)">
                                        </a>
                                        <div class="div-verde">
                                            <p ng-bind="lunes.recurso"></p>
                                            <p ng-bind="lunes.fecha+'-'+lunes.hora"></p>
                                            <p ng-bind="lunes.curso" class="curso-home"></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <!--martes-->
                            <div class="col-md-25 col-lg-5">
                                <h6 class="sombra"><span ng-bind="vm.dias[1] | date:'EEEE' | mayus"></span>
                                    <p class="hidden-md hidden-xs hidden-sm"></p><span ng-bind="vm.dias[1] | date:'dd/MMM'"></span></h6>
                                <ul class="list-group d_semana" id="martes">
                                    <li ng-repeat="martes in vm.martes | orderBy: 'hora'" ng-class="martes.activo ? 'list-group-item dias lista-verde' : martes.actual ? 'list-group-item dias lista-azul' : 'list-group-item dias lista-roja'" >
                                        <a type="button" class="btn-eliminar-lista" ng-if="martes.activo && martes.perm == null">
                                            <img src="imagenes/close1-icon.svg" class="img-eliminar-lista" alt="no foto" ng-click="vm.borrarReserva(martes, vm.martes)">
                                        </a>
                                        <div class="div-verde">
                                            <p ng-bind="martes.recurso"></p>
                                            <p ng-bind="martes.fecha+'-'+martes.hora"></p>
                                            <p ng-bind="martes.curso" class="curso-home"></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <!--miercoles-->
                            <div class="col-md-25 col-lg-5">
                                <h6 class="sombra-miercoles"><span ng-bind="vm.dias[2] | date:'EEEE' | mayus"></span>
                                    <p class="hidden-md hidden-xs hidden-sm"></p><span ng-bind="vm.dias[2] | date:'dd/MMM'"></span></h6>
                                <ul id="miercoles" class="list-group d_semana">
                                    <li ng-repeat="miercoles in vm.miercoles | orderBy: 'hora'" ng-class="miercoles.activo ? 'list-group-item dias lista-verde' : miercoles.actual ? 'list-group-item dias lista-azul' : 'list-group-item dias lista-roja'">
                                        <a type="button" class="btn-eliminar-lista" ng-if="miercoles.activo && miercoles.perm == null">
                                            <img src="imagenes/close1-icon.svg" class="img-eliminar-lista" alt="no foto"  ng-click="vm.borrarReserva(miercoles, vm.miercoles)">
                                        </a>
                                        <div class="div-verde">
                                            <p ng-bind="miercoles.recurso"></p>
                                            <p ng-bind="miercoles.fecha+'-'+miercoles.hora"></p>
                                            <p ng-bind="miercoles.curso" class="curso-home"></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>


                            <!--jueves-->
                            <div class="col-md-25 col-lg-5">
                                <h6 class="sombra-jueves"><span ng-bind="vm.dias[3] | date:'EEEE' | mayus"></span>
                                    <p class="hidden-md hidden-xs hidden-sm"></p><span ng-bind="vm.dias[3] | date:'dd/MMM'"></span></h6>
                                <ul id="jueves" class="list-group d_semana">
                                    <li ng-repeat="jueves in vm.jueves | orderBy: 'hora'" ng-class="jueves.activo ? 'list-group-item dias lista-verde' : jueves.actual ? 'list-group-item dias lista-azul' : 'list-group-item dias lista-roja'">
                                        <div class="div-verde">
                                            <a type="button" class="btn-eliminar-lista" ng-if="jueves.activo && jueves.perm == null">
                                                <img src="imagenes/close1-icon.svg" class="img-eliminar-lista" alt="no foto" ng-click="vm.borrarReserva(jueves, vm.jueves)">
                                            </a>
                                            <p ng-bind="jueves.recurso"></p>
                                            <p ng-bind="jueves.fecha+'-'+jueves.hora"></p>
                                            <p ng-bind="jueves.curso" class="curso-home"></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <!-- viernes-->
                            <div class="col-md-25 col-lg-5">
                                <h6 class="sombra"><span ng-bind="vm.dias[4] | date:'EEEE' | mayus"></span>
                                    <p class="hidden-md hidden-xs hidden-sm"></p><span ng-bind="vm.dias[4] | date:'dd/MMM'"></span></h6>
                                <ul id="viernes" class="list-group d_semana">
                                    <li ng-repeat="viernes in vm.viernes | orderBy: 'hora'" ng-class="viernes.activo ? 'list-group-item dias  lista-verde' : viernes.actual ? 'list-group-item dias lista-azul' : 'list-group-item dias lista-roja'">
                                        <a type="button" class="btn-eliminar-lista" ng-if="viernes.activo && viernes.perm == null">
                                            <img src="imagenes/close1-icon.svg" class="img-eliminar-lista" alt="no foto" ng-click="vm.borrarReserva(viernes, vm.viernes)">
                                        </a>
                                        <div class="div-verde">
                                            <p ng-bind="viernes.recurso"></p>
                                            <p ng-bind="viernes.fecha+'-'+viernes.hora"></p>
                                            <p ng-bind="viernes.curso" class="curso-home"></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- TAB 2 -->
                    </uib-tab>
                    <uib-tab index="1" heading="Mi Horario" classes="estilo-tab">
                        <div class="col-xs-12">
                            <table class="table table-bordered table-responsive tabla-mi-horario">
                                <thead>
                                    <tr class="bg-primary">
                                        <th>Horas</th>
                                        <th>Lunes</th>
                                        <th>Martes</th>
                                        <th>Miercoles</th>
                                        <th>Jueves</th>
                                        <th>Viernes</th>
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr ng-repeat="fila in vm.horarios">
                                        <td ng-bind="fila.num"></td>
                                        <td resizedirective ng-mouseleave="vm.mostrarSelect[$index][0]=!vm.mostrarSelect[$index][0]" ng-mouseenter="vm.mostrarSelect[$index][0]=!vm.mostrarSelect[$index][0]"><span ng-if="width < 950 || !vm.mostrarSelect[$index][0]" ng-bind="fila.lunes.curso"></span><select class="btn-info" ng-if="width>950 && vm.mostrarSelect[$index][0]" ng-change="vm.crearHorario(fila.lunes)" ng-options="curso.value as curso.label for curso in vm.cursos" ng-model="fila.lunes.curso"></select></td>
                                        <td resizedirective ng-mouseleave="vm.mostrarSelect[$index][1]=!vm.mostrarSelect[$index][1]" ng-mouseenter="vm.mostrarSelect[$index][1]=!vm.mostrarSelect[$index][1]"><span ng-if="width < 950 || !vm.mostrarSelect[$index][1]" ng-bind="fila.martes.curso"></span><select class="btn-info" ng-if="width>950 && vm.mostrarSelect[$index][1]" ng-change="vm.crearHorario(fila.martes)" ng-options="curso.value as curso.label for curso in vm.cursos" ng-model="fila.martes.curso"></select></td>
                                        <td resizedirective ng-mouseleave="vm.mostrarSelect[$index][2]=!vm.mostrarSelect[$index][2]" ng-mouseenter="vm.mostrarSelect[$index][2]=!vm.mostrarSelect[$index][2]"><span ng-if="width < 950 || !vm.mostrarSelect[$index][2]" ng-bind="fila.miercoles.curso"></span><select class="btn-info" ng-if="width>950 && vm.mostrarSelect[$index][2]" ng-change="vm.crearHorario(fila.miercoles)" ng-options="curso.value as curso.label for curso in vm.cursos" ng-model="fila.miercoles.curso"></select></td>
                                        <td resizedirective ng-mouseleave="vm.mostrarSelect[$index][3]=!vm.mostrarSelect[$index][3]" ng-mouseenter="vm.mostrarSelect[$index][3]=!vm.mostrarSelect[$index][3]"><span ng-if="width < 950 || !vm.mostrarSelect[$index][3]" ng-bind="fila.jueves.curso"></span><select class="btn-info" ng-if="width>950 && vm.mostrarSelect[$index][3]" ng-change="vm.crearHorario(fila.jueves)" ng-options="curso.value as curso.label for curso in vm.cursos" ng-model="fila.jueves.curso"></select></td>
                                        <td resizedirective ng-mouseleave="vm.mostrarSelect[$index][4]=!vm.mostrarSelect[$index][4]" ng-mouseenter="vm.mostrarSelect[$index][4]=!vm.mostrarSelect[$index][4]"><span ng-if="width < 950 || !vm.mostrarSelect[$index][4]" ng-bind="fila.viernes.curso"></span><select class="btn-info" ng-if="width>950 && vm.mostrarSelect[$index][4]" ng-change="vm.crearHorario(fila.viernes)" ng-options="curso.value as curso.label for curso in vm.cursos" ng-model="fila.viernes.curso"></select></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </uib-tab>

                    <!-- TAB 3 -->
                    <uib-tab index="2" heading="Mensajes" classes="estilo-tab">
                        <br>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <form ng-submit="vm.nuevoMensaje()">
                                    <div class="form-group">
                                        <label for="Asunto">Asunto:</label>
                                        <input type="text" class="form-control pilar" ng-model="vm.asunto" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="Mensaje">Mensaje:</label>
                                        <textarea class="form-control" rows="5" ng-model="vm.texto" required></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-info pull-right">Enviar</button>
                                </form>

                            </div>

                        </div>
                        <br>
                        <div style="border-top:1px solid;"></div>
                        <br>
                        <div class="row">
                            <uib-accordion >
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div uib-accordion-group class="panel-default" ng-repeat="mensaje in vm.mensajes" is-open="vm.open[$index]">
                                        <uib-accordion-heading>
                                            <div class="azulmensaje">
                                                <span ng-bind="mensaje.asunto"></span>
                                                <span>&#32;</span>
                                                <span ng-bind="mensaje.remitente"></span>
                                                <span class="glyphicon glyphicon-remove pull-left" ng-click="vm.borrarMensaje(mensaje)" ng-if="vm.getUser().tipo=='administrador'"></span>
                                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.open[$index], 'glyphicon-chevron-right': !vm.open[$index]}"></i></div>
                                                <span></span>
                                        </uib-accordion-heading>
                                           <p ng-bind="mensaje.texto"></p>                              
                                    </div>
                                </div>
                            </uib-accordion>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>


</div>
