
<div class="container">
   <nav class="navbar navbar-transparent" role="navigation" ng-controller="NavController as uc">
    <div class="navbar-header">
        
            <img style="margin-top:-13px;" height="90px;" width="140px;" src=".\imagenes\logo_hourweb.ico" alt="">
        
</div>

    <!-- Inicia menu -->
    

        <ul class="navbar-form navbar-right" style="margin-top:3px;">
           
            
            <button type="button" class="botonlogin1 btn btn-danger btn-lg " ng-click="vm.loginForm()">Entrar</button>
            <button type="button" class="botonlogin1 btn btn-primary btn-lg hidden-sm hidden-xs" ng-click="vm.adminForm()">Registro como Administrador</button>
            <button type="button" class="botonlogin2 btn btn-info btn-lg hidden-sm hidden-xs" ng-click="vm.standarForm()">Registro como Usuario</button>

            <button type="button" class="botonlogin1 btn btn-primary btn-lg hidden-lg hidden-md" ng-click="vm.adminForm()">Registro Admin</button>
            <button type="button" class="botonlogin2 btn btn-info btn-lg hidden-lg hidden-md" ng-click="vm.standarForm()">Registro Usuario</button>

        </ul>


    
</nav>
   <br><br>
    <div class="row">
        <center>
           <div>
           <h1 class="externafont">Web de Reserveras de recursos escolares</h1>
          
            </div>
            
            <div class="slide2">
		<figure>
			<div class="slide">
				<img src="https://firebasestorage.googleapis.com/v0/b/hourweb-4d325.appspot.com/o/web%2FHourWeb%20admin.jpg?alt=media&token=249b107c-2b4b-49dc-910c-485154259cbd">
			</div>

			<div class="slide">
				<img src="https://firebasestorage.googleapis.com/v0/b/hourweb-4d325.appspot.com/o/web%2FHourWeb%20perfil.jpg?alt=media&token=49b38c11-6df5-47c5-824c-a6c80e3e7a4e">
			</div>

			<div class="slide">
				<img src="https://firebasestorage.googleapis.com/v0/b/hourweb-4d325.appspot.com/o/web%2FHourWeb%20princiapl.jpg?alt=media&token=c7ccb242-b4fe-4551-97d9-efc042bf7dbc">
			</div>

			<div class="slide">
				<img src="https://firebasestorage.googleapis.com/v0/b/hourweb-4d325.appspot.com/o/web%2FHourWeb%20reservar.jpg?alt=media&token=f6f32ffe-ed60-4417-b358-5c73400d82e3">
			</div>
			<div class="slide">
				<img src="https://firebasestorage.googleapis.com/v0/b/hourweb-4d325.appspot.com/o/web%2FHourWeb%20reservar.jpg?alt=media&token=f6f32ffe-ed60-4417-b358-5c73400d82e3">
			</div>

		</figure>
	</div>
            
        </center>

    </div>





    <!-- encierro los botones en un btn-group para unirlos correctamente-->

</div>





<!--
<div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="titulo_web">HourWeb</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="subtitulo_web">vuestra web de reservas de recursos escolares</p>
                <hr class="estilo_hr">
            </div>
        </div>

        <button type="button" class="btn btn-danger btn-lg" style="margin-top:12px" ng-click="vm.loginForm()">
             Entrar
        </button>
-->

<!-- encierro los botones en un btn-group para unirlos correctamente-->
<!--
        <div class="btn-group btn-group-lg pull-right">
            <button type="button" class="btn btn-primary btn-lg" ng-click="vm.adminForm()">Registro como Administrador</button>
            <button type="button" class="btn btn-info btn-lg" ng-click="vm.standarForm()">Registro como Usuario</button>
        </div>
    </div>-->