<div class="container">

    <div class="mi-login" style="padding:10px;margin-botton:40px;height:100px;">

        <div class="estilo-home hidden-xs">
            <button type="button" class="btn btn-primary btn-sm pull-left" ng-click="vm.loginForm()" style="font-weight:bold;">Entrar</button>
        </div>


        <div class="estilo-home visible-xs" style="margin-top:50px;">
            <button type="button" class="botonlogin1 btn btn-primary btn-sm btn-block" ng-click="vm.loginForm()" style="font-weight:bold;">Entrar</button>

        </div>

        <div class="hidden-xs">
            <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="vm.adminForm()" style="font-weight:bold;">Registro como Administrador</button>

            <button type="button" class="btn btn-info btn-sm pull-right" ng-click="vm.standarForm()" style="font-weight:bold;">
                        Registro como Usuario
            </button>

        </div>

    </div>
    <div class="row">
        <center>
            <div class="hidden-xs">
                <p class="externafont">
                    <span>
                   <img  class="imagen-login" height="80px;" width="130px;" src=".\imagenes\logo_hourweb.ico" alt="web-login">
               </span> Web de Reservas de recursos escolares
                </p>

            </div>

            <div class="visible-xs">
                <span>
                   <img  class="imagen-login" height="60px;" width="100px;" src=".\imagenes\logo_hourweb.ico" alt="web-icon">
               </span>
                <p class="externafont">
                    Web de Reservas de recursos escolares
                </p>

            </div>
            
            <div class="div-carrusel">

                <div class="slide2">
                    <figure>
                        <div class="slide">
                            <img class="img-rsponsive" src="imagenes/reservar.jpg" width="800px;" height="450px;">
                        </div>

                        <div class="slide">
                            <img class="img-rsponsive" src="imagenes/home.jpg" width="800px;" height="450px;">
                        </div>

                        <div class="slide">
                            <img class="img-rsponsive" src="imagenes/home_2.jpg" width="800px;" height="450px;">
                        </div>

                        <div class="slide">
                            <img class="img-rsponsive" src="imagenes/admin.jpg" width="800px;" height="450px;">
                        </div>
                        <div class="slide">
                            <img class="img-rsponsive" src="imagenes/editar.jpg" width="800px;" height="450px;">
                        </div>
                    </figure>
                </div>
            </div>
        </center>

    </div>

</div>
