<div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="titulo_web">HourWeb</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="subtitulo_web">vuestra web de reservas de recursos escolares</p>
                <hr class="estilo_hr">
            </div>
        </div>

        <button type="button" class="btn btn-danger btn-lg" style="margin-top:12px" ng-click="vm.loginForm()">
             Entrar
        </button>

        <!-- encierro los botones en un btn-group para unirlos correctamente-->
        <div class="btn-group btn-group-lg pull-right">
            <button type="button" class="btn btn-primary btn-lg" ng-click="vm.adminForm()">Registro como Administrador</button>
            <button type="button" class="btn btn-info btn-lg" ng-click="vm.standarForm()">Registro como Usuario</button>
        </div>
    </div>