<div class="row">
    <div class="container">

        <div class="">

            <select class="selectreserva btn btn-info input-reservar" ng-model="vm.tipo" ng-options="item as item for item in vm.tipos" ng-change="vm.getRecursos()">
        </select>
            <select class="selectreserva btn btn-info input-reservar" ng-if="vm.recursos.length > 1" ng-options="item.value as item.name for item in vm.recursos" ng-change="vm.getDisponible()" ng-model="vm.recurso">          
        </select>
            <select class="selectreserva btn btn-info input-reservar" ng-if="vm.cursos.length > 1" ng-options="item.value as item.label for item in vm.cursos" ng-model="vm.curso">          
        </select>
        </div>
        
        <!-- +768px -->
        <div class="div-semana-reservar1 pull-right">
           <!-- Une los botones, para editar  botones mediante pseudoclases solo vale con button en bootstrap, no con label -->
            <div class="btn-group">
                <button class="btn btn-info btn-xs btn-semana-reservar1" ng-model="vm.semana" uib-btn-radio="0" ng-click="vm.getFechaRecursos()">Semana 1</button>
                <button class="btn btn-xs btn-semana-reservar" ng-model="vm.semana" uib-btn-radio="1" ng-click="vm.getFechaRecursos()">Semana 2</button>
            </div>
        </div>

        <!-- -768px -->
        <div class="div-semana-reservar2 pull-left">
            <!-- Une los botones, para editar  botones mediante pseudoclases solo vale con button en bootstrap, no con label -->
            <div class="btn-group">
                <button class="btn btn-info btn-xs btn-semana-reservar1" ng-model="vm.semana" uib-btn-radio="0" ng-click="vm.getFechaRecursos()">Semana 1</button>
                <button class="btn btn-xs btn-semana-reservar" ng-model="vm.semana" uib-btn-radio="1" ng-click="vm.getFechaRecursos()">Semana 2</button>
            </div>
        </div>

    </div>
</div>
<br>

<div class="row">
    <div class="container div-tabla-reservar">

        <div class="col-xs-12">
            <table class="tabla-reservar table table-striped table-bordered table-responsive">
                <caption class="captionreservar">Las reservas son de una hora*</caption>
                <thead>
                    <tr class="bg-primary">
                        <th class="th-reservar-hora">&nbsp;HORA&nbsp;
                        </th>
                        <th class="th-reservar" ng-repeat="dia in vm.dias" ng-bind="dia | date:' &nbsp;EEEE, dd/MMMM/yyyy &nbsp;' | mayus">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cel in vm.tabla">
                        <td ng-bind="cel.hora"></td>
                        <td ng-class="cel.lunes.activo ? 'bg-success':'bg-danger'" ng-click="vm.hacerReserva(cel.lunes,vm.tabla[$index+1].lunes)">
                            <p ng-bind="cel.lunes.nombre ? cel.lunes.nombre+'-'+cel.lunes.curso:''"></p>
                            <p ng-bind="cel.lunes.activo ? 'Disponible':cel.lunes.nombre==null ? 'Pasado':'Ocupado'"></p>
                        </td>
                        <td ng-class="cel.martes.activo ? 'bg-success':'bg-danger'" ng-click="vm.hacerReserva(cel.martes, vm.tabla[$index+1].martes)">
                            <p ng-bind="cel.martes.nombre ? cel.martes.nombre+'-'+cel.martes.curso:''"></p>
                            <p ng-bind="cel.martes.activo ? 'Disponible':cel.martes.nombre==null ? 'Pasado':'Ocupado'"></p>
                        </td>
                        <td ng-class="cel.miercoles.activo ? 'bg-success':'bg-danger'" ng-click="vm.hacerReserva(cel.miercoles, vm.tabla[$index+1].miercoles)">
                            <p ng-bind="cel.miercoles.nombre ? cel.miercoles.nombre+'-'+cel.miercoles.curso:''"></p>
                            <p ng-bind="cel.miercoles.activo ? 'Disponible':cel.miercoles.nombre==null ? 'Pasado':'Ocupado'"></p>
                        </td>
                        <td ng-class="cel.jueves.activo ? 'bg-success':'bg-danger'" ng-click="vm.hacerReserva(cel.jueves, vm.tabla[$index+1].jueves)">
                            <p ng-bind="cel.jueves.nombre ? cel.jueves.nombre+'-'+cel.jueves.curso:''"></p>
                            <p ng-bind="cel.jueves.activo ? 'Disponible':cel.jueves.nombre==null ? 'Pasado':'Ocupado'"></p>
                        </td>
                        <td ng-class="cel.viernes.activo ? 'bg-success':'bg-danger'" ng-click="vm.hacerReserva(cel.viernes, vm.tabla[$index+1].viernes)">
                            <p ng-bind="cel.viernes.nombre ? cel.viernes.nombre+'-'+cel.viernes.curso:''"></p>
                            <p ng-bind="cel.viernes.activo ? 'Disponible':cel.viernes.nombre==null ? 'Pasado':'Ocupado'"></p>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
