<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0 ,maximum-scale=1.0, minimum-scale=1.0">
    <title>HourWeb</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="imagenes/logo.png" />
    <!-- min indica que el archivo tiene el codigo minificado o comprimido. A efectos de eficiencia es mejor
		acceder a ellos -->
    <link rel="stylesheet" href="css/estilos.css">
    <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script>
    <!--<script src="https://code.jquery.com/jquery-latest.js"></script>-->
    <!--<script src="js/bootstrap.min.js"></script>-->
    <script src="firebase/config.js" charset="utf-8"></script>

</head>

<body style="background-image: url('imagenes/azul.jpg')" ng-app="app" ng-controller="LoginController as vm">
    <span id="idpage" class="1"></span>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="titulo_web">HourWeb</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="subtitulo_web">vuestra web de reservas de recursos escolares</p>
                <hr class="estilo_hr">
            </div>
        </div>

        <button type="button" class="boton_entrar" ng-click="vm.loginForm()">
             Entrar<span>&gt;&gt;</span>
        </button>

        <!-- encierro los botones en un btn-group para unirlos correctamente-->
        <div class="btn-group btn-group-lg pull-right">
            <button type="button" class="btn btn-primary btn-lg" ng-click="vm.adminForm()">Registro como Administrador</button>
            <button type="button" class="btn btn-info btn-lg" ng-click="vm.standarForm()">Registro como Usuario</button>
        </div>
    </div>

    <script src="js/angular.min.js"></script>
    <script src="js/angular-ui-router.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="js/ui-bootstrap-tpls.js"></script>
    <script src="js/app.js"></script>
    <script src="controllers/loginController.js"></script>
    <script src="controllers/loginFormController.js"></script>
    <script src="controllers/standarFormController.js"></script>
    <script src="controllers/errorController.js"></script>
    <script src="controllers/adminFormController.js"></script>
    <script src="factories/registerFactory.js"></script>
    <!--<script src="firebase/database.js" charset="utf-8"></script>
		<script src="firebase/user.js" charset="utf-8"></script>-->
    <!--<script src="firebase/controlador.js" charset="utf-8"></script>-->
</body>

</html>
