<!DOCTYPE html>
<html lang="es" ng-app="app">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0 ,maximum-scale=1.0, minimum-scale=1.0">
    <title>HourWeb</title>
    <link rel="shortcut icon" type="image/x-icon" href="imagenes/logo.png" />
    <link rel="stylesheet" href="css/estilos.css">
    <!-- fa-icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Optional theme solo le da un degradado al boton o a otros componentes. No es necesario -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-HyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script>
    <script src="firebase/config.js" charset="utf-8"></script>
</head>

<body style="background-color:#e9e9e9;">
    <!--A PARTIR DE AQUI-->
    <div class="container" ng-controller="ReservarController as vm">
        <select ng-model="vm.tipo" ng-options="item.value as item.name for item in vm.tipos" ng-change="vm.cargarRecursos()">
        </select>
        <select ng-if="vm.recursos.length > 1" ng-options="item.value as item.name for item in vm.recursos" ng-change="vm.cargarDisponible()"
            ng-model="vm.recurso">          
        </select>
        <select ng-if="vm.cursos.length > 0" ng-options="item as item for item in vm.cursos" 
            ng-model="vm.curso">          
        </select>
        <input type="radio" name="sme" ng-model="vm.semana" value="0" ng-click="vm.cargarFechaRecursos()">semana 1
        <input type="radio" name="sme" ng-model="vm.semana" value="1" ng-click="vm.cargarFechaRecursos()">semana 2

        <table>
            <thead>
                <tr>
                    <th>&nbsp;HORA&nbsp;</th>
                    <th ng-repeat="dia in vm.dias" ng-bind="dia | date:' &nbsp;EEEE, dd/MMMM/yyyy &nbsp;'"></th>                
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cel in vm.tabla">
                    <td ng-bind="cel.hora"></td>
                    <td ng-class="cel.lunes.activo ? 'bg-success':'bg-danger'" ng-click="vm.hacerReserva(cel.lunes,vm.tabla[$index+1].lunes)">
                        <p ng-bind="cel.lunes.nombre ? cel.lunes.nombre+'-'+cel.lunes.curso:''"></p>
                        <p ng-bind="cel.lunes.activo ? 'Disponible':cel.lunes.nombre==null ? 'Pasado':'Ocupado'"></p> 
                    </td>
                    <td ng-class="cel.martes.activo ? 'bg-success':'bg-danger'" ng-click="vm.hacerReserva(cel.martes, vm.tabla[$index+1].martes)">
                        <p ng-bind="cel.martes.nombre ? cel.martes.nombre+'-'+cel.martes.curso:''"></p>
                        <p ng-bind="cel.martes.activo ? 'Disponible':cel.martes.nombre==null ? 'Pasado':'Ocupado'"></p>                               
                    </td>
                    <td ng-class="cel.miercoles.activo ? 'bg-success':'bg-danger'" ng-click="vm.hacerReserva(cel.miercoles, vm.tabla[$index+1].miercoles)">
                        <p ng-bind="cel.miercoles.nombre ? cel.miercoles.nombre+'-'+cel.miercoles.curso:''"></p>
                        <p ng-bind="cel.miercoles.activo ? 'Disponible':cel.miercoles.nombre==null ? 'Pasado':'Ocupado'"></p> 
                    </td>
                    <td ng-class="cel.jueves.activo ? 'bg-success':'bg-danger'" ng-click="vm.hacerReserva(cel.jueves, vm.tabla[$index+1].jueves)">
                        <p ng-bind="cel.jueves.nombre ? cel.jueves.nombre+'-'+cel.jueves.curso:''"></p>
                       <p ng-bind="cel.jueves.activo ? 'Disponible':cel.jueves.nombre==null ? 'Pasado':'Ocupado'"></p> 
                    </td>
                    <td ng-class="cel.viernes.activo ? 'bg-success':'bg-danger'" ng-click="vm.hacerReserva(cel.viernes, vm.tabla[$index+1].viernes)">
                        <p ng-bind="cel.viernes.nombre ? cel.viernes.nombre+'-'+cel.viernes.curso:''"></p>
                        <p ng-bind="cel.viernes.activo ? 'Disponible':cel.viernes.nombre==null ? 'Pasado':'Ocupado'"></p> 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <!--<script src="https://code.jquery.com/jquery-latest.js"></script>
		<script src="js/bootstrap.min.js"></script>-->
    <script src="js/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.6.4/angular-locale_es-es.min.js"></script>
    <script src="js/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="js/angular-ui-router.min.js"></script>
    <script src="js/ui-bootstrap-tpls.js"></script>
    <script src="js/app.js"></script>
    <script src="factories/userFactory.js"></script>
    <script src="controllers/reservarController.js"></script>
    <script src="controllers/navController.js"></script>
    <script src="controllers/homeController.js"></script>
    <!--<script src="firebase/database.js" charset="utf-8"></script>
		<script src="firebase/user.js" charset="utf-8"></script>
		<script src="firebase/controlador.js" charset="utf-8"></script>-->
</body>

</html>