<div class="modal-content">

    <!-- Header de la ventana -->
    <div class="modal-header">
        <button type="button" class="close btn-info" ng-click="vmm.close()">
		    <span>Cancelar</span>&times;
       </button>
        <h4 class="modal-title">
            <span>
               <strong>Registro Administrador</strong>
           </span>
        </h4>
    </div>
    <form class="form-inline">
        <div class="modal-body">

            <!-- se agruparan en linea -->
            <div class="form-group">
                <input class="form-control form_login" autofocus type="text" placeholder="Nombre" required ng-model="vmm.nombre">
                <br><br>
                <input class="form-control form_login" type="text" placeholder="Apellidos" required ng-model="vmm.apellido">
            </div>
            <br><br>
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control form_login" type="email" placeholder="Correo" required ng-model="vmm.email">
                </div>
            </div>
            <br><br>
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control form_login" type="password" placeholder="Password" required ng-model="vmm.pass1">
                    <br><br>
                    <input class="form-control form_login" type="password" placeholder="Confirmar Password" required ng-model="vmm.pass2">
                </div>
            </div>
            <br><br>


            <div class="form-group">
                <div class="input-group">
                    <input class="form-control form_login" type="text" placeholder="Nombre Centro" required ng-model="vmm.centro">
                    <br><br>
                                     <!-- preguntar q coño es el operador | -->

                    
                </div>
            </div>
        </div>


        <div class="modal-footer">
            <p ng-bind="vmm.error"></p>
            <button type="submit" class="btn btn-lg btn-info">
			    <strong>Registrar</strong>
			</button>
        </div>
    </form>
    <label class="horas">
					    Horario
					</label>
                    <div class="mi-timepicker" uib-timepicker ng-model="vmm.inicioHora" hour-step="vmm.horaup" minute-step="vmm.minutoup" show-meridian="false"></div> 
                    <div class="mi-timepicker" uib-timepicker ng-model="vmm.finHora" hour-step="vmm.horaup" minute-step="vmm.minutoup" show-meridian="false"></div>
</div>
