<div class="modal-content">

    <!-- Header de la ventana -->
    <div class="modal-header">
        <button type="button" class="close btn-info" ng-click="vmm.close()">
		    <span>Cancelar</span>&times;
       </button>
        <h4 class="modal-title">
            <span>
               <strong>Registro Administrador</strong>
           </span>
        </h4>
    </div>
    <form class="form-inline">
        <div class="modal-body">

            <!-- se agruparan en linea -->
            <div class="form-group">
                <input class="form-control form_login" type="text" placeholder="Nombre" required ng-model="vmm.nombre">
                <br><br>
                <input class="form-control form_login" type="text" placeholder="Apellidos" required ng-model="vmm.apellido">
            </div>
            <br><br>
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control form_login" type="email" placeholder="Correo" required ng-model="vmm.email">
                </div>
            </div>
            <br><br>
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control form_login" type="password" placeholder="Password" required ng-model="vmm.pass1">
                    <br><br>
                    <input class="form-control form_login" type="password" placeholder="Confirmar Password" required ng-model="vmm.pass2">
                </div>
            </div>
            <br><br>


            <div class="form-group">
                <div class="input-group">
                    <input class="form-control form_login" type="text" placeholder="Nombre Centro" required ng-model="vmm.centro">
                    <br><br>
                    <label class="horas">
					    Horario
					</label>
                    <div class="mi-timepicker" uib-timepicker ng-model="mihora" ng-change="vmm.changed()" hour-step="vmm.horaup" minute-step="vmm.minutoup" show-meridian="vmm.ismeridian">

                    </div>
                    <button type="button" class="btn btn-info pull-right" ng-click="vmm.toggleMode()">
                       12H / 24H
                       </button>
                    <button type="button" class="btn btn-default" ng-click="vmm.update()">Reiniciar a 00:00
                       </button>

                    <pre class="alert alert-info">Hora actual: {{vmm.mihora | date:'shortTime' }}</pre>
                    <!-- preguntar q coño es el operador | -->

                    <div class="row">
                        <div class="col-md-6">
                            <h5><small class="text-center">Aumentar rango de horas:</small></h5>
                            <br>
                            <select class="form-control" ng-model="vmm.horaup" ng-options="opt for opt in vmm.opciones.horaup"></select>
                        </div>
                        <div class="col-md-6">
                            <h5><small class="text-center">Aumentar rango de minutos:</small></h5>
                            <select class="form-control" ng-model="vmm.minutoup" ng-options="opt for opt in vmm.opciones.minutoup">                                
                            </select>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal-footer">
            <p ng-bind="vmm.error"></p>
            <button type="submit" class="btn btn-lg btn-info">
			    <strong>Registrar</strong>
			</button>
        </div>
    </form>
</div>
