 <div class="modal-content">
           <div>
                <img class="img-responsive imagen-error" alt="Usuario Pic" 
                src="imagenes/warning-icon-svg1.svg"/>
           </div>
            
            <br>
            <div class="modal-body">
                <h3 class="modal-title" style="color:blue;" ng-bind="vmmm.mensaje"></h3>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-danger" ng-click="vmmm.ok()">
                <strong>si</strong>
                </button>
                <button type="button" class="btn btn-lg btn-danger" ng-click="vmmm.close()">
                <strong>no</strong>
                </button>
            </div>
        </div>