<div style="padding:15px;">
    <br>
    <div style="width:100%">
        <img class="img-responsive imagen-error" alt="Usuario Pic" ng-src="imagenes/interrogacion1.svg" />
        <br>
        <p class="text-center text-info text-center" ng-bind="vmmm.mensaje"></p>
    </div>
    <div class="modal-footer" style="padding:5px;">
        <div class="center-block">

            <button type="button" class="btn btn-sm btn-primary" ng-click="vmmm.ok()">
                Si
        </button>
            <button type="button" class="btn btn-sm btn-info" ng-click="vmmm.close()">
            No
        </button>
        </div>

    </div>

</div>
