 <div >            
            <br>
            <div style="text-align: center;">
                <h4 style="color:blue;" ng-bind="vmmm.mensaje"></h4>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-md btn-danger" ng-click="vmmm.ok()">
                <strong>Si</strong>
                </button>
                <button type="button" class="btn btn-md btn-danger" ng-click="vmmm.close()">
                <strong>No</strong>
                </button>
            </div>
        </div>