<div class="">
    <div>
        <button type="button" class="close" ng-click="vmmm.close()" aria-hidden="true" style="margin-right:9px;margin-top:8px;">
		    <span class="span-cancelar">Cancelar</span><strong>&#32;&times;</strong>  
        </button>
        <br><br>
        <h4  class="entrar-hw">
            <strong>Recuperar Contraseña</strong>
        </h4>
    </div>
    
    <form class="" ng-submit="vmmm.restablecer()">
        <div class="">
        
                    <div class="input-group">
                        <input class="form-control form-login1" autofocus type="email" placeholder="Introduzca su email" required ng-model="vmmm.email">
                                              
                    </div>
                </div>
            

        <div class="modal-footer">
            <button type="submit" class="btn btn-sm btn-info center-block" name="boton_entrar">
			    <strong>Recuperar contraseña</strong>
			</button>
        </div>
    </form>
</div>