<div class="modal-content">
	<!-- Header de la ventana -->
	<div class="modal-header">
		<button type="button" class="close btn-info" ng-click="vmm.close()">
		    <span style="font-size:13px;">Cancelar</span><strong>&#32;&times;</strong> 
		</button>
		<h4 class="modal-title">
            <span><strong>Registro Usuario</strong></span>
		</h4>
	</div>
	
	<form class="form-inline" ng-submit="vmm.registrar()">
		<div class="modal-body">
			<!-- se agruparan en linea -->
			<div class="form-group">
				<input class="form-control form-login-user well" autofocus type="text" placeholder="Nombre" required ng-model="vmm.nombre">
				
				<input class="form-control form-login-user well" type="text" placeholder="Apellidos" required ng-model="vmm.apellido">
			</div>
			<br><br class="hidden-xs">
			<div class="form-group">
				<div class="input-group">
					<input class="form-control form-login-user well" type="email" placeholder="Correo electrónico" required ng-model="vmm.email">
				    <br><br class="hidden-xs">
					<input class="form-control form-login-user well" id="pass1_u" type="password" placeholder="Password" required ng-model="vmm.pass1">
					<br>
					<input class="form-control form-login-user well" id="pass2_u" type="password" placeholder="Confirmar Password" required ng-model="vmm.pass2">
				</div>
			</div>
			<br><br class="hidden-xs">
			<!-- nombre centro -->
			<div class="form-group">
				<div class="input-group">
					<label class="entrar-hw">
					Código del Centro :
					</label>
					<br>
					<input class="form-control form-login-user well" type="text" required ng-model="vmm.centro">
				</div>
			</div>
		</div>
		
		<div class="modal-footer">
			<button type="submit" class="btn btn-md btn-info center-block"><strong>Registrar como Usuario</strong></button>
		</div>
	</form>
</div>